<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
</th:block>

<th:block layout:fragment="customContents">
	<div class="content-wrapper" style="min-height: 912px;">
		<!-- 콘텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">메인화면</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- 메인 콘텐츠 -->
		<section class="content">
			
		</section>
	</div>
</th:block>

</html>
