<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4"
	th:fragment="asideFragment">
	<!-- Brand Logo -->
	<a th:href="@{/admin}" class="brand-link"> <img
		th:src="@{/admin/dist/img/AdminLTELogo.png}" alt="AdminLTE Logo"
		class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">Admin Page</span>
	</a>

	<!-- Sidebar -->
	<div
		class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
		<div class="os-resize-observer-host observed">
			<div class="os-resize-observer" style="left: 0px; right: auto;"></div>
		</div>
		<div class="os-size-auto-observer observed"
			style="height: calc(100% + 1px); float: left;">
			<div class="os-resize-observer"></div>
		</div>
		<div class="os-content-glue"
			style="margin: 0px -8px; width: 249px; height: 854px;"></div>
		<div class="os-padding">
			<div class="os-viewport os-viewport-native-scrollbars-invisible"
				style="overflow-y: scroll;">
				<div class="os-content"
					style="padding: 0px 8px; height: 100%; width: 100%;">

					<nav class="mt-2">
						<ul class="nav nav-pills nav-sidebar flex-column"
							data-widget="treeview" role="menu" data-accordion="false">
							<li class="nav-item"><a href="#" class="nav-link"> <i
									class="nav-icon fas fa-book"></i>
									<p>
										프로젝트 관리 <i class="fas fa-angle-left right"></i>
									</p>
							</a>
								<ul class="nav nav-treeview">
									<li class="nav-item"><a href="#" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>일반과제</p>
									</a></li>
									<li class="nav-item"><a href="#" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>전문과제</p>
									</a></li>
								</ul>
							</li>
							<li class="nav-item"><a href="#" class="nav-link"> <i
									class="nav-icon fas fa-book"></i>
									<p>
										구인구직 관리 <i class="fas fa-angle-left right"></i>
									</p>
							</a>
								<ul class="nav nav-treeview">
									<li class="nav-item"><a th:href="@{/admin/announcement/adminAnnouncementList}" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>구인 공고 관리</p>
									</a></li>
									<li class="nav-item"><a href="#" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>기업 추천 서비스 관리</p>
									</a></li>
								</ul>
							</li>
							<li class="nav-item"><a href="#" class="nav-link"> <i
									class="nav-icon fas fa-book"></i>
									<p>
										구직 프로필 관리 <i class="fas fa-angle-left right"></i>
									</p>
							</a>
								<ul class="nav nav-treeview">
									<li class="nav-item"><a th:href="@{/admin/profile/adminProfileIntroList}" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>자기소개 관리</p>
									</a></li>
									<li class="nav-item"><a th:href="@{/admin/profile/adminProfileSkillList}" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>보유 기술 관리</p>
									</a></li>
									<li class="nav-item"><a th:href="@{/admin/profile/adminProfileWorkSpecList}" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>경력 관리</p>
									</a></li>
									<li class="nav-item"><a th:href="@{/admin/profile/adminProfileEduSpecList}" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>학력 관리</p>
									</a></li>
									<li class="nav-item"><a th:href="@{/admin/profile/adminProfileCertificateList}" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>자격증 관리</p>
									</a></li>
									<li class="nav-item"><a th:href="@{/admin/profile/adminProfileAwardList}" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>수상 이력 관리</p>
									</a></li>
									<li class="nav-item"><a th:href="@{/admin/profile/adminProfilePortfolioList}" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>포트폴리오 관리</p>
									</a></li>
								</ul>
							</li>
							<li class="nav-item"><a href="#" class="nav-link"> <i
									class="nav-icon fas fa-book"></i>
									<p>
										배너 광고 관리 <i class="fas fa-angle-left right"></i>
									</p>
							</a>
								<ul class="nav nav-treeview">
									<li class="nav-item"><a href="#" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>광고 신청 현황 관리</p>
									</a></li>
									<li class="nav-item"><a href="#" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>광고 진행 현황 관리</p>
									</a></li>
								</ul>
							</li>
							<li class="nav-item"><a href="#" class="nav-link"> <i
									class="nav-icon fas fa-book"></i>
									<p>
										로그인 관리 <i class="fas fa-angle-left right"></i>
									</p>
							</a>
								<ul class="nav nav-treeview">
									<li class="nav-item"><a href="#" class="nav-link"> <i
											class="far fa-circle nav-icon"></i>
											<p>로그인 이력 관리</p>
									</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
			</div>
		</div>
		<div
			class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
			<div class="os-scrollbar-track">
				<div class="os-scrollbar-handle"
					style="width: 100%; transform: translate(0px, 0px);"></div>
			</div>
		</div>
		<div
			class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
			<div class="os-scrollbar-track">
				<div class="os-scrollbar-handle"
					style="height: 73.6672%; transform: translate(0px, 0px);"></div>
			</div>
		</div>
		<div class="os-scrollbar-corner"></div>
	</div>
	<!-- /.sidebar -->
</aside>

</html>