<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks47team02.user.project.pro.mapper.ProProjectMapper">
	<resultMap type="ProProject" id="proProjectResultMap">	
		<id column="pro_project_code" property="proProjectCode"/>
		<result column="cp_id" property="cpId"/>
		<result column="cp_name" property="cpName"/>		
		<result column="title" property="title"/>
		<result column="join_cate_code" property="joinCateCode"/>
		<result column="join_cate_name" property="joinCateName"/>
		<result column="work_cate_code" property="workCateCode"/>
		<result column="work_cate_name" property="workCateName"/>
		<result column="subject_cate_code" property="subjectCateCode"/>
		<result column="subject_cate_name" property="subjectCateName"/>
		<result column="skill" property="skill"/>
		<result column="details" property="details"/>
		<result column="max_total" property="maxTotal"/>
		<result column="normal_run_code" property="normalRunCode"/>
		<result column="run_name" property="runName"/>
		<result column="project_price" property="proProjectPrice"/>
		<result column="cp_commission" property="cpCommisson"/>
		<result column="write_date" property="proProjectWriteDate"/>
		<result column="due_date" property="dueDate"/>
		<result column="due_complete_date" property="dueCompleteDate"/>
		<result column="project_start_date" property="proProjectStartDate"/>
		<result column="project_complete_date" property="proProjectCompleteDate"/>
		<result column="project_days" property="proProjectDays"/>
		<result column="applicant_user_id" property="applicantUserId"/>
		<result column="application_date" property="applicationDate"/>
	</resultMap>
	 
	<resultMap type="ProProject" id="joinCateResultMap">
		<id column="join_cate_code" property="joinCateCode"/>
		<result column="join_cate_name" property="joinCateName"/>
	</resultMap>
		
	<resultMap type="ProProject" id="workCateResultMap">
		<id column="work_cate_code" property="workCateCode"/>
		<result column="work_cate_name" property="workCateName"/>
	</resultMap>
	
	<resultMap type="ProProject" id="subjectCateResultMap">
		<id column="subject_cate_code" property="subjectCateCode"/>
		<result column="subject_cate_name" property="subjectCateName"/>
	</resultMap>

	<!-- 전문 과제 전체 목록 조회 -->
	<select id="getProProjectList" parameterType="map" resultMap="proProjectResultMap">
	
					/* 전문 과제 전체 목록 조회 */
					SELECT
							pro_project_code,
							ci.cp_id,
							cp_name,
							title,
							jc.join_cate_code,
							jc.join_cate_name,
							wc.work_cate_code,
							wc.work_cate_name,
							sc.subject_cate_code,
							sc.subject_cate_name,
							skill,
							details,
							max_total,
							run_name,
							project_price,
							write_date,
							due_date,
							due_complete_date,
							project_start_date,
							project_complete_date,
							project_days
						FROM
							cp_info AS ci
							INNER join
							pro_project AS pp
							on
							pp.cp_id = ci.cp_id
							INNER JOIN
							join_cate AS jc
							on
							pp.join_cate_code = jc.join_cate_code
							INNER JOIN
							work_cate AS wc
							on
							pp.work_cate_code = wc.work_cate_code
							INNER join
							subject_cate AS sc
							on
							pp.subject_cate_code = sc.subject_cate_code;
	</select>
	
	
	<!-- 전문 과제 작성 -->
	<insert id="proProjectInsert" parameterType="ProProject">
				/* 전문과제 insert문 */
				INSERT INTO pro_project
					(`pro_project_code`, `cp_id`, `title`, `join_cate_code`,
					`join_cate_name`, `work_cate_code`,`work_cate_name`,
					`subject_cate_code`,`subject_cate_name`,`skill`,`details`,
					`max_total`,`normal_run_code`,`run_name`,`project_price`,
					`cp_commission`,`write_date`,`due_date`,`due_complete_date`,
					`project_start_date`,`project_complete_date`,`project_days`)
				SELECT
					CONCAT('pro_project',LPAD(CAST(SUBSTRING(MAX(pro_project_code),12)+1 as UNSIGNED),3,'0')),
					'cp001',
					#{title},
					#{joinCateCode},
					(SELECT join_cate_name FROM join_cate WHERE join_cate_code = #{joinCateCode}),
					#{workCateCode},
					(SELECT work_cate_name FROM work_cate WHERE work_cate_code = #{workCateCode}),
					#{subjectCateCode},
					(SELECT subject_cate_name FROM subject_cate WHERE subject_cate_code = #{subjectCateCode}),
					#{skill},
					#{details},
					#{maxTotal},
					'normal_run_code01',
					'모집중',
					#{proProjectPrice},
					#{cpCommisson},
					CURDATE(),
					#{dueDate},
					null,
					null,
					NULL,
					#{proProjectDays}
				FROM pro_project
				WHERE pro_project_code LIKE 'pro_project%';
				
	 </insert>
	
	
	 <!-- 전문 과제 상세 조회-->
    <select id="getProjectInfoById" parameterType="String" resultMap="proProjectResultMap">
    	/* 전문 과제 상세 조회 */
    	SELECT
			pro_project_code,
			cp_id,
			title,
			join_cate_code,
			join_cate_name, 
			work_cate_code,
			work_cate_name,
			subject_cate_code,
			subject_cate_name,
			skill,
			details,
			max_total,
			normal_run_code,
			run_name,
			project_price,
			cp_commission,
			write_date,
			due_date,
			due_complete_date,
			project_start_date,
			project_complete_date,
			project_days
		FROM
			pro_project
		WHERE
			pro_project_code = #{proProjectCode}
    </select>
    
    <!-- 전문 과제 수정 -->
    <update id="proProjectModify" parameterType="ProProject">
    	/* 전문 과제 수정 */
		    UPDATE pro_project
			<trim prefix="SET" suffixOverrides=",">
				<if test="skill != null and skill != '' ">
					skill = #{skill},
				</if>
				<if test="details != null and details != '' ">
					details = #{details},
				</if>
				<if test="maxTotal != null and maxTotal != '' ">
					max_total = #{maxTotal},
				</if>
				<if test="proProjectPrice != null and proProjectPrice != '' ">
					project_price = #{proProjectPrice},
				</if>
				<if test="dueDate != null and dueDate != '' ">
					due_date = #{dueDate}
				</if>
			</trim>
				WHERE
					pro_project_code = #{proProjectCode};
    </update>
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	<!-- 참여분야 리스트 조회 -->
	<select id="getJoinCateList" parameterType="map" resultMap="joinCateResultMap">
		/* 참야분야 리스트 조회 */
		SELECT
			*
		FROM
			join_cate;
	
	</select>
	<!-- 작업분야 리스트 조회 -->
	<select id="getWorkCateList" parameterType="map" resultMap="workCateResultMap">
		/* 작업분야 리스트 조회 */
		SELECT
			*
		FROM
			work_cate;
	
	</select>
	<!-- 주제분야 리스트 조회 -->
	<select id="getSubjectCateList" parameterType="map" resultMap="subjectCateResultMap">
		/* 주제분야 리스트 조회 */
		SELECT
			*
		FROM
			subject_cate;
	
	</select>
	<!-- 전문과제별 신청자 목록 -->
	<select id="getProProjectApplicantList" parameterType="map" resultMap="proProjectResultMap">
		
				/* 전문과제별 신청자 목록 */
					SELECT
						ppa.applicant_user_id,
						ppa.application_date,
						ppa.run_name
					FROM
						pro_project_applicant AS ppa
					WHERE
						ppa.pro_project_code = #{proProjectCode};
	</select>
	
	
	
</mapper>