<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
		
		// 유효성 검사 함수
		const vaildCheck = ele => {
		
			let eleValue = $(ele).val();
			let elePlaceholder = $(ele).attr('placeholder');
			if(typeof eleValue == 'undefined' || eleValue == null || eleValue == '') {
				alert(`${elePlaceholder} 필수 입력 항목입니다.`);
				$(ele).focus();
				return false;
			}
			return true;			
		}
		
		$('#portfolioInsertBtn').click(function () {
		
			let inputEles = $('#addPortfolioForm input[type="text"],input[type="date"],input[type="number"],select');
			let isSubmit = false;
			inputEles.each( (idx, item) => {
				isSubmit = vaildCheck(item);
				return isSubmit;
			});
			if (isSubmit) $('#addPortfolioForm').submit();		
		});
		
		
		$('#subjectCateCode').change(function () {
		
	        const selectedOption = $(this).val();
	        
	        $.ajax({
	            url: '/profile/pro', 
	            method: 'POST',
	            dataType: 'json',
	            success: function (response) {
	            	
	            	let projectList = response;
	            	$('#projectListBody').html('');
	            	
	            	if(selectedOption){
	            		projectList = projectList.filter(item => item.cateProject == selectedOption);
	            	}
	            	
	            	if(projectList.length > 0){
	            		$(projectList).each((idx,item)=>{
		            		const title = item.projectName;
		            		const skill = item.assignedFunction;
		            		const projectDay = item.projectDay;
		            		const prePersonDays = item.prePersonDays;
		            		const cateProject = item.cateProject;
		            		const functionStartDate = item.functionStartDate;
		            		const functionFinishTime = item.functionFinishTime;
		            		
		            		const contentsArr = [title,skill,projectDay,prePersonDays,functionStartDate,functionFinishTime,cateProject];
		            		
		            		const tr = $('<tr></tr>');
		            		const tdRadio = $(`<td><input type="radio" name="optionsRadios" value="${item.projectCd}"></td>`);
		            		tr.append(tdRadio);
		            		for( let content of contentsArr){
		            			const td = $(`<td>${content}</td>`);
		            			tr.append(td);
		            		}
		            		$('#projectListBody').append(tr);	            	
		            	});
	            	}else{
	            		const tr = $('<tr><td colspan="8" class="text-center">***참여한 프로젝트가 없습니다.***</td></tr>');
	            		$('#projectListBody').append(tr);	 
	            	}
	            },
	            error: function () {
	                // Handle error if the AJAX request fails
	                alert('Failed to fetch project data. Please try again later.');
	            }
	        });
	    });
		$('#subjectCateCode').change();
		
		// 모달창 닫는 함수
		const closeModal = function () {
	        $('#exampleModalCenter').modal('hide');
	    }
	    
	    // 라디오 버튼 유효성 검사 함수
		const radioCheckValidation = () => {
		    // 라디오 버튼 중 선택된 것이 있는지 확인
		    const isChecked = $('#projectListBody input[type="radio"]:checked').length > 0;
		
		    if (!isChecked) {
		        alert('프로젝트를 선택해주세요.');
		        return false;
		    }
		    return true;
		}
	    
	    $('#selectBtn').click(function () {
	    	
	    	if (!radioCheckValidation()) {
		        return;
		    }
	    	
	    	const selectedProject = $('#projectListBody input[type="radio"]:checked').closest('tr');
	    	const selectedProjectData = [];
	    	
	    	selectedProject.find('td').each((idx, item) => {
		        if(idx !== 0){ // 첫번째 td(라디오 버튼)는 제외
		            selectedProjectData.push($(item).text());
		        }
		    });
		    

			// 값 넣기	
	    	$('#inputTitle').val(selectedProjectData[0]);
	    	$('#inputFunction').val(selectedProjectData[1]);
	    	$('#inputFunctionDay').val(selectedProjectData[3]);
	    	$('#inputFunctionDay').attr('readonly', true);
	    	$('#inputStartDay').val(selectedProjectData[4]);
	    	$('#inputStartDay').attr('readonly', true);
	    	$('#inputFinishDay').val(selectedProjectData[5]);
	    	$('#inputFinishDay').attr('readonly', true);
	    	$('#inputCate').val(selectedProjectData[6]);
	    	$('#inputCate').attr('readonly', true);
	    	
	        closeModal();
	    });
		
		
		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="contact-form section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="single-element-widget d-flex">
							<h6 class="title_color" style="margin:10px; font-size:large; font-weight:900;">참여한 프로젝트 조회하기</h6>
							<button type="button" class="genric-btn primary-border radius" data-toggle="modal"
									data-target="#exampleModalCenter">조회</button>
						</div>
						
						<div class="card single-job">
							<form id="addPortfolioForm"
								  th:action="@{/profile/profilePortfolioInsert}" method="post"
								  class="d-md-flex justify-content-center">

								<div class="left">
									<p class="text-left" style="font-size:large; font-weight:900;">프로젝트 제목</p>
									<input type="text" id="inputTitle"
										   placeholder="프로젝트 제목" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '프로젝트 제목'"
										   name="userProjectName"> 
										   
									<p class="text-left" style="font-size:large; font-weight:900;">참여분야</p>
									<div class="d-md-flex mb-3">
										<select style="display: none;" name="joinCateCode"
												placeholder="참여분야">
												<option value="">==참여 분야==</option>
												<th:block th:unless="${#lists.isEmpty(joinCateList)}"
														  th:each="l : ${joinCateList}">
													<option th:value="${l.joinCateCode}">[[${l.joinCateName}]]</option>
												</th:block>
										</select>
									</div>
									
								    <p class="text-left" style="font-size:large; font-weight:900;">작업분류</p>
									<div class="d-md-flex mb-3">
										<select style="display: none;" name="workCateCode"
												placeholder="작업분류">
												<option value="">==작업 분류==</option>
												<th:block th:unless="${#lists.isEmpty(workCateList)}"
													th:each="l : ${workCateList}">
													<option th:value="${l.workCateCode}">[[${l.workCateName}]]</option>
												</th:block>
										</select>
									</div>
									
								    <p class="text-left" style="font-size:large; font-weight:900;">주제분류</p>
									<div class="d-md-flex mb-3">
										<select style="display: none;"
												name="subjectCateCode" placeholder="주제분류">
												<option value="">==주제 분류==</option>
												<th:block th:unless="${#lists.isEmpty(subjectCateList)}"
													th:each="l : ${subjectCateList}">
													<option th:value="${l.subjectCateCode}">[[${l.subjectCateName}]]</option>
												</th:block>
										</select>
									</div>
									
								    <p class="text-left" style="font-size:large; font-weight:900;">맡은기능</p>
									<input type="text" id="inputFunction"
										   placeholder="맡은기능" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '맡은기능'"
										   name="userRequiredSkill">
									
								    <p class="text-left" style="font-size:large; font-weight:900;">내용</p>
									<input type="text"
										   placeholder="내용" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '내용'"
										   name="userDetails">
										   
								    <p class="text-left" style="font-size:large; font-weight:900;">기능 시작 일시</p>
									<input type="date" id="inputStartDay"
										   placeholder="기능 시작 일시" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '기능 시작 일시'"
										   name="userProjectStartDate">
										   
								    <p class="text-left" style="font-size:large; font-weight:900;">기능 완료 일시</p>
									<input type="date" id="inputFinishDay"
										   placeholder="기능 완료 일시" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '기능 완료 일시'"
										   name="userProjectEndDate">
										   
								    <p class="text-left" style="font-size:large; font-weight:900;">작업일수</p>
									<input type="number" id="inputFunctionDay"
										   placeholder="작업일수" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '작업일수'"
										   name="userProjectDays">
										   
								    <p class="text-left" style="font-size:large; font-weight:900;">프로젝트 구분</p>
									<input type="text" id="inputCate"
										   placeholder="프로젝트 구분" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '프로젝트 구분'"
										   name="userProjectGen">
									
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch1"
												name="profileHidden" checked>
											<label for="confirm-switch1" style="margin: 2px 0"></label>
										</div>
									</div>
									
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">입사지원시 공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch2"
												name="profileApplicationHidden" checked> 
											<label for="confirm-switch2" style="margin: 2px 0"></label>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-tools">
							<a th:href="@{#}" id="portfolioInsertBtn"
								class="genric-btn info-border circle"> <i
								class="fas">등록 완료</i>
							</a> <a th:href="@{/profile/profilePortfolioList}"
									id="portfolioResetBtn" class="genric-btn danger-border circle">
								<i class="fas">취소</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">참여 프로젝트 목록</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="d-md-flex col-lg-3">
					<select style="display: none;" id="subjectCateCode"
							name="subjectCateCode" placeholder="구분">
							<option value="">전체참여목록</option>
							<option value="일반과제">일반과제</option>
							<option value="전문과제">전문과제</option>
					</select>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead class="thead-light">
							<tr>
								<td>선택</td>
								<td>프로젝트 제목</td>
								<td>맡은기능</td>
								<td>전체 일수</td>
								<td>작업 일수</td>
								<td>시작 일시</td>
								<td>종료 일시</td>
								<td>과제 구분</td>
							</tr>
						</thead>
						<tbody id="projectListBody">
							<!--/* <tr th:unless="${#lists.isEmpty(proProjectList)}"
								th:each="l : ${proProjectList}">
								<th:block th:unless="${#lists.isEmpty(l.proProjectInfo)}"
										  th:each="pl : ${l.proProjectInfo}">
									<td>
										<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
									</td>
									<td th:text="${pl.title}"></td>
									<td th:text="${l.skill}"></td>
									<td th:text="${l.projectDay}"></td>
									<td th:text="${l.individualWorkDay}"></td>
								</th:block>
							</tr>
							<tr th:if="${#lists.isEmpty(proProjectList)}">
								<td colspan="5" class="text-center">***참여한 프로젝트가 없습니다.***</td>
							</tr> */-->
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">취소</button>
					<button id="selectBtn" type="button" class="btn btn-primary">선택</button>
				</div>
			</div>
		</div>
	</div>


</th:block>
</html>