<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script> -->
	<script>
		
		$('.danger-border').click(function (e) {
			e.preventDefault();
			
			let isDelete = confirm('정말로 삭제하시겠습니까?');
				
			if(isDelete) {
				const userIntroCode = this.dataset.userIntroCode;
				location.replace(`/profile/profileIntroDelete?userIntroCode=${userIntroCode}`);
			}
		});
		
		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-12">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-4">
							<h4 class="mb-4">프로필</h4>
							<a th:href="@{/profile/profileIntroList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자기소개</span>
							</a> <a th:href="@{/profile/profileSkillList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>보유기술</span>
							</a> <a th:href="@{/profile/profileWorkSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>경력</span>
							</a> <a th:href="@{/profile/profileEduSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>학력</span>
							</a> <a th:href="@{/profile/profileCertificateList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자격증</span>
							</a> <a th:href="@{/profile/profileAwardList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>수상이력</span>
							</a> <a th:href="@{/profile/profilePortfolioList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>포트폴리오</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card">
							<div class="card-header border-0">
								<h3 class="mb-0 title_color text-left">자기소개</h3>
								<div class="card-tools">
									<a th:href="@{/profile/profileIntroInsert}" class="genric-btn info-border circle"> <i class="fas">등록</i>
									</a>
								</div>
							</div>
							<div class="card-body table-responsive p-0">
								<table class="table table-striped table-valign-middle">
									<thead>
										<tr>
											<!-- <th>회원별 자기소개 코드</th> -->
											<!-- <th>회원아이디</th> -->
											<th>자기소개</th>
											<th>공개 여부</th>
											<th>입사지원시 공개여부</th>
											<th>수정</th>
											<th>삭제</th>
										</tr>
									</thead>
									<tbody>
										<tr th:unless="${#lists.isEmpty(profileIntroList)}"
											th:each="l : ${profileIntroList}">
											<!-- <td th:text="${l.userIntroCode}"></td> -->
											<!-- <td th:text="${l.userId}"></td> -->
											<td th:text="${l.userIntro}"></td>
											<td th:text="${l.profileHidden}"></td>
											<td th:text="${l.profileApplicationHidden}"></td>
											<td><a th:href="@{/profile/profileIntroModify(userIntroCode=${l.userIntroCode})}" class="genric-btn success-border circle"> <i
														class="fas">수정</i>
												</a></td>
											<td><a th:href="@{#}" id="profileIntroDeleteBtn" th:data-user-intro-code="${l.userIntroCode}" class="genric-btn danger-border circle"> <i
														class="fas">삭제</i>
												</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>

</html>