<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<script>
		//유효성 검사 함수 (등록눌렀을때 빈값이 없도록 유효성 검사 하는거) => 하 진짜 이해 안감ㅠ 물어봐 
		const validCheck = element => {
			let data = $(element).val();
			let eleId = $(element).attr('placeholder');
			if (typeof data == 'undefined' || data == null || data == '') {
				// let cate = $(`input[id="${eleId}"]`).text();
				alert(`${eleId} 필수 입력항목입니다.`);
				$(element).focus();
				return false;
			}
			return true;
		}

		//자기소개 등록 버튼 시 이벤트 => 하 진짜 이해 안감ㅠ 물어봐 
		$('#insertBtn').click(function () {
			// const validateEle = $('#insertProfileForm input').not('#introTitle');
			const validateEle = $('#insertProfileForm input');
			let isSubmit = false;
			validateEle.each((idx, item) => {
				isSubmit = validCheck(item);
				return isSubmit;
			});
			if (isSubmit) {
				console.log('전송');
				$('#insertProfileForm').submit();
			}
		});

		//입력 취소 버튼 클릭시 이벤트 처리
		$('#resetBtn').click(function (e) {
			//태그가 가지고 있는 기본 이벤트 동작 방지
			e.preventDefault();
			$('#insertProfileForm input').val('');
		});

	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-12">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-4">
							<h4 class="mb-4">프로필</h4>
							<a th:href="@{/profile/profileIntroList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자기소개</span>
							</a> <a th:href="@{/profile/profileSkillList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>보유기술</span>
							</a> <a th:href="@{/profile/profileWorkSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>경력</span>
							</a> <a th:href="@{/profile/profileEduSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>학력</span>
							</a> <a th:href="@{/profile/profileCertificateList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자격증</span>
							</a> <a th:href="@{/profile/profileAwardList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>수상이력</span>
							</a> <a th:href="@{/profile/profilePortfolioList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>포트폴리오</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card">
							<div class="card-header border-0">
								<h3 class="mb-0 title_color text-left">학력</h3>
								<div class="card-tools">
									<a href="#" class="genric-btn info-border circle" id="modifyBtn">
										<i class="fas">등록 완료</i>
									</a>
									<a th:href="@{#}" class="genric-btn danger-border circle">
										<i type="button" id="resetBtn" class="fas">취소</i>
									</a>
								</div>
							</div>
							<div class="card-body table-responsive p-0">
								<form id="modifyProfileForm" th:action="@{/profile/profileEduSpecModify}"
									class="d-md-flex justify-content-between" method="post">
									<table class="table table-valign-middle">
										<thead>
											<tr>
												<th>학교구분</th>
												<th>학교명</th>
												<th>전공명</th>
												<th>졸업상태</th>
												<th>입학 일시</th>
												<th>졸업 일시</th>
												<th>학점</th>
												<th>총점</th>
												<th>공개 여부</th>
												<th>입사지원시 공개여부</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="default-select" id="default-select">
														<select style="display: none;" name="userDegree">
															<option value="대학원(박사)">대학원(박사)</option>
															<option value="대학원(학사)">대학원(학사)</option>
															<option value="대학교(4년제">대학교(4년제)</option>
															<option value="전문대학(2.3년제)">전문대학(2.3년제)</option>
															<option value="고등학교">고등학교</option>
															<option value="중학교">중학교</option>
															<option value="초등학교">초등학교</option>
															<option value="무학">무학</option>
														</select>
													</div>
												</td>
												<td>
													<input class="genric-btn" type="text" name="userUnivName" th:value="${profileEduSpecInfo.userUnivName}">
												</td>
												<td>
													<input class="genric-btn" type="text" th:value="${profileEduSpecInfo.userUnivMajor}"
														name="userUnivMajor">
												</td>
												<td>
													<div class="default-select" id="default-select">
														<select style="display: none;" name="userUnivGrad">
															<option value="졸업">졸업</option>
															<option value="재학">재학</option>
															<option value="휴학">휴학</option>
															<option value="편입">편입</option>
														</select>
													</div>
												</td>
												<td><input class="genric-btn" type="date" name="userUnivEnterDate"
														th:value="${profileEduSpecInfo.userUnivEnterDate}"></td>
												<td><input class="genric-btn" type="date" name="userUnivGradDate"
														th:value="${profileEduSpecInfo.userUnivGradDate}"></td>
												<td>
													<input class="genric-btn" type="text" th:value="${profileEduSpecInfo.userUnivScore}"
														name="userUnivScore">
												</td>
												<td>
													<input class="genric-btn" type="text" th:value="${profileEduSpecInfo.userUnivTotalScore}"
														name="userUnivTotalScore" >
												</td>
												<td>
													<div class="d-flex justify-content-center">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch2"
																name="profileHidden" th:checked="${profileEduSpecInfo.profileHidden}">
															<label for="confirm-switch2"></label>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex justify-content-center">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch2"
																name="profileApplicationHidden" th:checked="${profileEduSpecInfo.profileApplicationHidden}">
															<label for="confirm-switch2"></label>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>

</html>