<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<script>
		$('.danger-border').click(function (e) {
			e.preventDefault();
			
			let isDelete = confirm('정말로 삭제하시겠습니까?');
			
			if(isDelete) {
				const awardCode = this.dataset.awardCode;
				location.replace(`/profile/profileAwardDelete?profileAwardCode=${awardCode}`);
			}
		});
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-12">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-4">
							<h4 class="mb-4">프로필</h4>
							<a th:href="@{/profile/profileIntroList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자기소개</span>
							</a> <a th:href="@{/profile/profileSkillList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>보유기술</span>
							</a> <a th:href="@{/profile/profileWorkSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>경력</span>
							</a> <a th:href="@{/profile/profileEduSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>학력</span>
							</a> <a th:href="@{/profile/profileCertificateList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자격증</span>
							</a> <a th:href="@{/profile/profileAwardList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>수상이력</span>
							</a> <a th:href="@{/profile/profilePortfolioList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>포트폴리오</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card">
							<div class="card-header border-0">
								<h3 class="mb-0 title_color text-left">수상이력</h3>
								<div class="card-tools">
									<a th:href="@{/profile/profileAwardInsert}"
										class="genric-btn info-border circle"> <i class="fas">등록</i>
									</a>
								</div>
							</div>
							<div class="card-body table-responsive p-0">
								<table class="table table-striped table-valign-middle">
									<thead>
										<tr>
											<th>상훈명</th>
											<th>기관명</th>
											<th>수상 일시</th>
											<th>수상내역 및 역할</th>
											<th>공개여부</th>
											<th>입사지원시 공개여부</th>
											<th>수정</th>
											<th>삭제</th>
										</tr>
									</thead>
									<tbody>
										<tr th:unless="${#lists.isEmpty(profileAwardList)}"
											th:each="l : ${profileAwardList}">
											<td th:text="${l.userAwardName}"></td>
											<td th:text="${l.userAwardPublication}"></td>
											<td th:text="${l.userAwardDate}"></td>
											<td th:text="${l.awardDetails}"></td>
											<td th:text="${l.profileHidden}"></td>
											<td th:text="${l.profileApplicationHidden}"></td>
											<td><a
												th:href="@{/profile/profileAwardModify(profileAwardCode=${l.profileAwardCode})}"
												class="genric-btn success-border circle"> <i class="fas">수정</i>
											</a></td>
											<td><a th:href="@{#}" th:data-award-code="${l.profileAwardCode}"
												class="genric-btn danger-border circle"> <i class="fas">삭제</i>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
</html>