<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
		$('#SkillInsertbtn').click(function (e) {
			e.preventDefault();
			
			$('#profileSkillModifyForm').submit();
		});
		
		
		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="contact-form section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card single-job">
							<form id="profileSkillModifyForm"
								  th:action="@{/profile/profileSkillModify}" method="post"
								  class="d-md-flex justify-content-center">

								<div class="left" th:object="${profileSkillInfo}">
									<input type="hidden" name="userSkillCode"
										   th:value="*{userSkillCode}">
									<p class="text-left" style="font-size:large; font-weight:900;">기술명</p>
									<input type="text"
										   placeholder="기술명" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '기술명'"
										   name="SkillName" th:value="*{userSkill}"> 
									<p class="text-left" style="font-size:large; font-weight:900;">숙련도</p>
									<input type="text"
										   placeholder="숙련도" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '숙련도'"
										   name="userSkillRank"
										   th:value="*{userSkillRank}">
									<p class="text-left" style="font-size:large; font-weight:900;">경험(년도차)</p>
									<input type="text"
										   placeholder="경험(연도차)" onfocus="this.placeholder = '(년도차)'"
										   onblur="this.placeholder = '경험(연도차)'"
										   name="user_experience"
										   th:value="*{userExperience}">
									<p class="text-left" style="font-size:large; font-weight:900;">취득일시</p>
									<input type="date"
										   placeholder="경험" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '경험'"
										   name="userExperience" th:value="*{userExperience}">
									<!-- <p class="text-left" style="font-size:large; font-weight:900;">정보등록일시</p>
									<input type="date"
										   placeholder="정보등록일시" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '정보등록일시'" readonly
										   name="userRegDate" th:value="*{userRegDate}"> -->
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch1"
												name="profileHidden" th:checked="*{profileHidden}">
											<label for="confirm-switch1"></label>
										</div>
									</iv>
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">입사지원시 공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch2"
												name="profileApplicationHidden"
												th:checked="*{profileApplicationHidden}"> <label
												for="confirm-switch2"></label>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-tools">
							<a th:href="@{#}" id="SkillInsertbtn"
								class="genric-btn info-border circle"> <i class="fas">수정완료</i>
							</a> <a th:href="@{/profile/profileSkillList}"
								id="profileSkillResetbtn" class="genric-btn danger-border circle">
								<i class="fas">취소</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>
</html>