<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<head>
<link rel="stylesheet"
	th:href="@{/admin/plugins/select2/css/select2.min.css}">
<link rel="stylesheet"
	th:href="@{/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">
</head>

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
		
		// 유효성 검사 함수
		const vaildCheck = ele => {
		
			let eleValue = $(ele).val();
			let elePlaceholder = $(ele).attr('placeholder');
			if(typeof eleValue == 'undefined' || eleValue == null || eleValue == '') {
				alert(`${elePlaceholder} 필수 입력 항목입니다.`);
				$(ele).focus();
				return false;
			}
			return true;			
		}
		
		$('#certificateInsertbtn').click(function () {
		
			let inputEles = $('#addCertificateForm input[type="text"],input[type="date"]');
			let isSubmit = false;
			inputEles.each( (idx, item) => {
				isSubmit = vaildCheck(item);
				return isSubmit;
			});
			if (isSubmit) $('#addCertificateForm').submit();		
		});
		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-12">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-4">
							<h4 class="mb-4">프로필</h4>
							<a th:href="@{/profile/profileIntroList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자기소개</span>
							</a> <a th:href="@{/profile/profileSkillList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>보유기술</span>
							</a> <a th:href="@{/profile/profileWorkSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>경력</span>
							</a> <a th:href="@{/profile/profileEduSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>학력</span>
							</a> <a th:href="@{/profile/profileCertificateList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자격증</span>
							</a> <a th:href="@{/profile/profileAwardList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>수상이력</span>
							</a> <a th:href="@{/profile/profilePortfolioList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>포트폴리오</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card">
							<div class="card-header border-0">
								<h3 class="mb-0 title_color text-left">포트폴리오 등록</h3>
								<div class="card-tools">
									<a th:href="@{#}" id="certificateInsertbtn"
										class="genric-btn info-border circle"> <i class="fas">등록
											완료</i>
									</a> <a th:href="@{/profile/profileCertificateList}"
										id="certificateResetbtn"
										class="genric-btn danger-border circle"> <i class="fas">취소</i>
									</a>
								</div>
							</div>
							<div class="card-body table-responsive p-0">
								<form id="addCertificateForm"
									th:action="@{/profile/profileCertificateInsert}" method="post"
									class="d-md-flex justify-content-between">
									<table class="table table-valign-middle">
										<thead>
											<tr>
												<th>프로젝트 제목</th>
												<th>참여 분야 이름</th>
												<th>작업 분류 이름</th>
												<th>주제 분류 이름</th>
												<th>맡은 기능</th>
												<th>내용</th>
												<th>기능 시작 일시</th>
												<th>기능 완료 일시</th>
												<th>작업 일수</th>
												<th>전문/일반 구분</th>
												<th>공개여부</th>
												<th>입사지원 시 공개여부</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><input class="genric-btn" type="text"
													name="userProjectName" placeholder="프로젝트 제목"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = '프로젝트 제목'"></td>
												<td><input class="genric-btn" type="text"
													name="joinCateName" placeholder="참여 분야"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = '참여 분야'"></td>
												<td><input class="genric-btn" type="text"
													name="workCateName" placeholder="작업 분류"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = '작업 분류'"></td>
												<td><input class="genric-btn" type="text"
													name="subjectCateName" placeholder="주제 분류"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = '주제 분류'"></td>
												<td><input class="genric-btn" type="text"
													name="userRequiredSkill" placeholder="요구기술"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = '요구기술'"></td>
												<td><input class="genric-btn" type="text"
													name="userDetails" placeholder="내용"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = '내용'"></td>
												<td><input class="genric-btn" type="date"
													placeholder="시작일시" name="userProjectStartDate"></td>
												<td><input class="genric-btn" type="date"
													placeholder="완료일시" name="userProjectEndDate"></td>
												<td><input class="genric-btn" type="text"
													name="userProjectDays" placeholder="프로젝트 일수"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = '프로젝트 일수'"></td>
												<td><input class="genric-btn" type="text"
													name="userProjectGen" placeholder="구분"
													onfocus="this.placeholder = ''"
													onblur="this.placeholder = '구분'"></td>
												<td>
													<div class="d-flex justify-content-center">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch1"
																name="profileHidden" checked> <label
																for="confirm-switch1"></label>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex justify-content-center">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch2"
																name="profileApplicationHidden" checked> <label
																for="confirm-switch2"></label>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>

						</div>
					</div>
					<div class="container-fluid" data-select2-id="32">
						<div class="card card-default">
							<div class="card-header">
								<h3 class="card-title">포트폴리오 등록</h3>
								
								<div class="card-tools">
									<a th:href="@{#}" id="certificateInsertbtn"
										class="genric-btn info-border circle"> <i class="fas">등록
											완료</i>
									</a> <a th:href="@{/profile/profileCertificateList}"
										id="certificateResetbtn"
										class="genric-btn danger-border circle"> <i class="fas">취소</i>
									</a>
								</div>
							</div>
							
							<!-- /.card-header -->
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>프로젝트 조회</label> <select
												class="form-control select2bs4 select2-hidden-accessible"
												style="width: 100%;" >
												<option>Alabama</option>
												<option>Alaska</option>
												<option>California</option>
												<option>Delaware</option>
												<option>Tennessee</option>
												<option>Texas</option>
												<option>Washington</option>
											</select><span
												class="select2 select2-container select2-container--bootstrap4"
												dir="ltr" data-select2-id="18" style="width: 100%;"><span
												class="selection"><span
													class="select2-selection select2-selection--single"
													role="combobox" aria-haspopup="true" aria-expanded="false"
													tabindex="0" aria-disabled="false"
													aria-labelledby="select2-co01-container"><span
														class="select2-selection__rendered"
														id="select2-co01-container" role="textbox"
														aria-readonly="true" title="Alabama">Alabama</span><span
														class="select2-selection__arrow" role="presentation"><b
															role="presentation"></b></span></span></span><span class="dropdown-wrapper"
												aria-hidden="true"></span></span>
										</div>
										<!-- /.form-group -->
										<div class="form-group">
											<label>Disabled</label> <select
												class="form-control select2bs4 select2-hidden-accessible"
												disabled="" style="width: 100%;" data-select2-id="20"
												tabindex="-1" aria-hidden="true">
												<option selected="selected" data-select2-id="22">Alabama</option>
												<option>Alaska</option>
												<option>California</option>
												<option>Delaware</option>
												<option>Tennessee</option>
												<option>Texas</option>
												<option>Washington</option>
											</select><span
												class="select2 select2-container select2-container--bootstrap4 select2-container--disabled"
												dir="ltr" data-select2-id="21" style="width: 100%;"><span
												class="selection"><span
													class="select2-selection select2-selection--single"
													role="combobox" aria-haspopup="true" aria-expanded="false"
													tabindex="-1" aria-disabled="true"
													aria-labelledby="select2-7djo-container"><span
														class="select2-selection__rendered"
														id="select2-7djo-container" role="textbox"
														aria-readonly="true" title="Alabama">Alabama</span><span
														class="select2-selection__arrow" role="presentation"><b
															role="presentation"></b></span></span></span><span class="dropdown-wrapper"
												aria-hidden="true"></span></span>
										</div>
										<!-- /.form-group -->
									</div>
									<!-- /.col -->
									<div class="col-md-6">
										<div class="form-group">
											<label>Multiple</label> <select
												class="select2bs4 select2-hidden-accessible" multiple=""
												data-placeholder="Select a State" style="width: 100%;"
												data-select2-id="23" tabindex="-1" aria-hidden="true">
												<option>Alabama</option>
												<option>Alaska</option>
												<option>California</option>
												<option>Delaware</option>
												<option>Tennessee</option>
												<option>Texas</option>
												<option>Washington</option>
											</select><span
												class="select2 select2-container select2-container--bootstrap4"
												dir="ltr" data-select2-id="24" style="width: 100%;"><span
												class="selection"><span
													class="select2-selection select2-selection--multiple"
													role="combobox" aria-haspopup="true" aria-expanded="false"
													tabindex="-1" aria-disabled="false"><ul
															class="select2-selection__rendered">
															<li class="select2-search select2-search--inline"><input
																class="select2-search__field" type="search" tabindex="0"
																autocomplete="off" autocorrect="off"
																autocapitalize="none" spellcheck="false"
																role="searchbox" aria-autocomplete="list"
																placeholder="Select a State" style="width: 452.8px;"></li>
														</ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
										</div>
										<!-- /.form-group -->
										<div class="form-group">
											<label>Disabled Result</label> <select
												class="form-control select2bs4 select2-hidden-accessible"
												style="width: 100%;" data-select2-id="25" tabindex="-1"
												aria-hidden="true">
												<option selected="selected" data-select2-id="27">Alabama</option>
												<option>Alaska</option>
												<option disabled="disabled">California (disabled)</option>
												<option>Delaware</option>
												<option>Tennessee</option>
												<option>Texas</option>
												<option>Washington</option>
											</select><span
												class="select2 select2-container select2-container--bootstrap4"
												dir="ltr" data-select2-id="26" style="width: 100%;"><span
												class="selection"><span
													class="select2-selection select2-selection--single"
													role="combobox" aria-haspopup="true" aria-expanded="false"
													tabindex="0" aria-disabled="false"
													aria-labelledby="select2-vdcg-container"><span
														class="select2-selection__rendered"
														id="select2-vdcg-container" role="textbox"
														aria-readonly="true" title="Alabama">Alabama</span><span
														class="select2-selection__arrow" role="presentation"><b
															role="presentation"></b></span></span></span><span class="dropdown-wrapper"
												aria-hidden="true"></span></span>
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</section>

	<!-- <div class="content-wrapper" data-select2-id="34"
		style="min-height: 2171.6px;">
		<section class="content" data-select2-id="33"></section>
	</div> -->

</th:block>
</html>