<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
		$('#awardInsertBtn').click(function (e) {
			e.preventDefault();
			
			$('#modifyAwardForm').submit();
		});
		
		
		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-12">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-4">
							<h4 class="mb-4">프로필</h4>
							<a th:href="@{/profile/profileIntroList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자기소개</span>
							</a> <a th:href="@{/profile/profileSkillList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>보유기술</span>
							</a> <a th:href="@{/profile/profileWorkSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>경력</span>
							</a> <a th:href="@{/profile/profileEduSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>학력</span>
							</a> <a th:href="@{/profile/profileCertificateList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자격증</span>
							</a> <a th:href="@{/profile/profileAwardList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>수상이력</span>
							</a> <a th:href="@{/profile/profilePortfolioList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>포트폴리오</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card">
							<div class="card-header border-0">
								<h3 class="mb-0 title_color text-left">수상이력 수정</h3>
								<div class="card-tools">
									<a th:href="@{#}" id="awardInsertBtn"
										class="genric-btn info-border circle"> <i class="fas">수정완료</i>
									</a> <a th:href="@{/profile/profileAwardList}" id="awardResetBtn"
										class="genric-btn danger-border circle"> <i class="fas">취소</i>
									</a>
								</div>
							</div>
							<div class="card-body table-responsive p-0">
								<form id="modifyAwardForm"
									th:action="@{/profile/profileAwardModify}" method="post"
									class="d-md-flex justify-content-between">
									<table class="table table-valign-middle"
										th:object="${profileAwardInfo}">
										<thead>
											<tr>
												<th>상훈명</th>
												<th>기관명</th>
												<th>수상일시</th>
												<th>수상내역 및 역할</th>
												<th>공개 여부</th>
												<th>입사지원시 공개여부</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><input class="genric-btn" type="hidden"
													name="profileAwardCode" th:value="*{profileAwardCode}">
													<input class="genric-btn" type="text"
													name="userAwardName" th:value="*{userAwardName}">
												</td>
												<td><input class="genric-btn" type="text"
													name="userAwardPublication"
													th:value="*{userAwardPublication}"></td>
												<td><input class="genric-btn" type="date"
													name="userAwardDate" th:value="*{userAwardDate}"></td>
												<td><input class="genric-btn" type="text"
													name="awardDetails"
													th:value="*{awardDetails}"></td>
												<td>
													<div class="d-flex justify-content-center">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch1"
																name="profileHidden" th:checked="*{profileHidden}">
															<label for="confirm-switch1"></label>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex justify-content-center">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch2"
																name="profileApplicationHidden"
																th:checked="*{profileApplicationHidden}"> <label
																for="confirm-switch2"></label>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>
</html>