<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
		$('#WorkSpecInsertbtn').click(function (e) {
			e.preventDefault();
			
			$('#profileWorkSpecModifyForm').submit();
		});
		
		
		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="contact-form section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card single-job">
							<form id="profileWorkSpecModifyForm"
								  th:action="@{/profile/profileWorkSpecModify}" method="post"
								  class="d-md-flex justify-content-center">

								<div class="left" th:object="${profileWorkSpecInfo}">
									<input type="hidden" name="userWorkSpecCode"
										   th:value="*{userWorkSpecCode}">
									<p class="text-left" style="font-size:large; font-weight:900;">회사명</p>
									<input type="text"
										   placeholder="회사명" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '회사명'"
										   name="userCompany" th:value="*{userCompany}"> 
									<p class="text-left" style="font-size:large; font-weight:900;">기술명</p>
									<input type="text"
										   placeholder="기술명" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '기술명'"
										   name="userSkill"
										   th:value="*{userSkill}"> 
									<p class="text-left" style="font-size:large; font-weight:900;">입사일시</p>
									<input type="date"
										   placeholder="입사일시" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '입사일시'"
										   name="userEnterDate" th:value="*{userEnterDate}">
									<p class="text-left" style="font-size:large; font-weight:900;">퇴사일시</p>
									<input type="date"
										   placeholder="퇴사일시" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '퇴사일시'"
										   name="userLeaveDate" th:value="*{userLeaveDate}">
									<p class="text-left" style="font-size:large; font-weight:900;">근무부서</p>
									<input type="text"
										   placeholder="근무부서" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '근무부서'"
										   name="userDepartment"
										   th:value="*{userDepartment}">
									<p class="text-left" style="font-size:large; font-weight:900;">직위</p>
									<input type="text"
										   placeholder="직위" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '직위'"
										   name="userRank"
										   th:value="*{userRank}">
									<p class="text-left" style="font-size:large; font-weight:900;">담당업무</p>
									<input type="text"
										   placeholder="담당업무" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '담당업무'"
										   name="userWork"
										   th:value="*{userWork}">
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch1"
												name="profileHidden" th:checked="*{profileHidden}">
											<label for="confirm-switch1"></label>
										</div>
									</iv>
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">입사지원시 공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch2"
												name="profileApplicationHidden"
												th:checked="*{profileApplicationHidden}"> <label
												for="confirm-switch2"></label>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-tools">
							<a th:href="@{#}" id="WorkSpecInsertbtn"
								class="genric-btn info-border circle"> <i class="fas">수정완료</i>
							</a> <a th:href="@{/profile/profileWorkSpecList}"
								id="profileWorkSpecResetbtn" class="genric-btn danger-border circle">
								<i class="fas">취소</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>
</html>