<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>

		// 유효성 검사 함수
		const vaildCheck = ele => {

			let eleValue = $(ele).val();
			let elePlaceholder = $(ele).attr('placeholder');
			if (typeof eleValue == 'undefined' || eleValue == null || eleValue == '') {
				alert(`${elePlaceholder} 필수 입력 항목입니다.`);
				$(ele).focus();
				return false;
			}
			return true;
		}

		$('#insertbtn').click(function () {

			let inputEles = $('#insertProfileForm input[type="text"],input[type="date"]');
			let isSubmit = false;
			inputEles.each((idx, item) => {
				isSubmit = vaildCheck(item);
				return isSubmit;
			});
			if (isSubmit) $('#insertProfileForm').submit();
		});

		//입력 취소 버튼 클릭시 이벤트 처리
		$('#skillResetbtn').click(function (e) {
			//태그가 가지고 있는 기본 이벤트 동작 방지
			e.preventDefault();
			$('#insertProfileForm input').val('');
		});

	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="contact-form section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card single-job">
							<form id="insertProfileForm" th:action="@{/profile/profileSkillInsert}" method="post"
								class="d-md-flex justify-content-center">

								<div class="left">
									<p class="text-left" style="font-size:large; font-weight:900;">기술명</p>
									<input type="text" placeholder="기술명" onfocus="this.placeholder = ''"
										onblur="this.placeholder = '기술명'" name="userSkill">
									<p class="text-left" style="font-size:large; font-weight:900;">숙련도</p>
									<div class="d-md-flex mb-3">
										<select style="display: none;" name="userSkillRank" placeholder="숙련도">
											<option value="">==최종학력을 선택해주세요==</option>
											<option value="특급">특급</option>
											<option value="고급">고급</option>
											<option value="중급">중급</option>
											<option value="초급">초급</option>

										</select>
									</div>
									<p class="text-left" style="font-size:large; font-weight:900;">경험</p>
									<input type="text" placeholder="경험" onfocus="this.placeholder = ''"
										onblur="this.placeholder = '경험'" name="userExperience">
									<input type="hidden" name="userRegDate">
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch1" name="profileHidden" checked>
											<label for="confirm-switch1" style="margin: 2px 0"></label>
										</div>
									</div>
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">입사지원시 공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch2" name="profileApplicationHidden"
												checked>
											<label for="confirm-switch2" style="margin: 2px 0"></label>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-tools">
							<a th:href="@{#}" id="insertbtn" class="genric-btn info-border circle"> <i class="fas">등록
									완료</i>
							</a> <a th:href="@{/profile/profileSkillList}" id="skillResetbtn"
								class="genric-btn danger-border circle">
								<i class="fas">취소</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>

</html>