<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
		$('#EduSpecInsertbtn').click(function (e) {
			e.preventDefault();
			
			$('#profileEduSpecModifyForm').submit();
		});
		
		
		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="contact-form section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card single-job">
							<form id="profileEduSpecModifyForm"
								  th:action="@{/profile/profileEduSpecModify}" method="post"
								  class="d-md-flex justify-content-center">

								<div class="left" th:object="${profileEduSpecInfo}">
									<input type="hidden" name="userEduSpecCode"
										   th:value="*{userEduSpecCode}">
									<p class="text-left" style="font-size:large; font-weight:900;">학교구분</p>
									<div class="d-md-flex mb-3">
										<select style="display: none;" name="univGradCateCode"
												placeholder="학교구분"> <!-- *는 object로 들고올-->
												<option value="*{univGradCateCode}">[[*{univGradCateName}]]</option>
												<th:block th:unless="${#lists.isEmpty(univGradCateList)}"
													th:each="l : ${univGradCateList}"> <!-- $는 thymeleaf 구문으로 쓰는거-->
													<option th:value="${l.univGradCateCode}">[[${l.univGradCateName}]]</option>
												</th:block>
										</select>
									</div>
									<p class="text-left" style="font-size:large; font-weight:900;">학교명</p>
									<input type="text"
										   placeholder="학교명" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '학교명'"
										   name="userUnivName" th:value="*{userUnivName}"> 
									<p class="text-left" style="font-size:large; font-weight:900;">전공명</p>
									<input type="text"
										   placeholder="전공명" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '전공명'"
										   name="userUnivMajor"
										   th:value="*{userUnivMajor}"> 
									<p class="text-left" style="font-size:large; font-weight:900;">졸업상태</p>
									<input type="text"
										   placeholder="졸업상태" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '졸업상태'"
										   name="userUnivGrad"
										   th:value="*{userUnivGrad}"> 
									<p class="text-left" style="font-size:large; font-weight:900;">입학일시</p>
									<input type="date"
										   placeholder="입학일시" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '입학일시'"
										   name="userUnivEnterDate" th:value="*{userUnivEnterDate}">
									<p class="text-left" style="font-size:large; font-weight:900;">졸업일시</p>
									<input type="date"
										   placeholder="졸업일시" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '졸업일시'"
										   name="userUnivGradDate" th:value="*{userUnivGradDate}">
									<p class="text-left" style="font-size:large; font-weight:900;">학점</p>
									<input type="text"
										   placeholder="학점" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '학점'"
										   name="userUnivScore"
										   th:value="*{userUnivScore}">
									<p class="text-left" style="font-size:large; font-weight:900;">총점</p>
									<input type="text"
										   placeholder="총점" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '총점'"
										   name="userUnivTotalScore"
										   th:value="*{userUnivTotalScore}">
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch1"
												name="profileHidden" th:checked="*{profileHidden}">
											<label for="confirm-switch1"></label>
										</div>
									</iv>
									<div class="d-flex justify-content-between">
										<label style="font-size:large; font-weight:900;">입사지원시 공개여부</label>
										<div class="confirm-switch">
											<input type="checkbox" id="confirm-switch2"
												name="profileApplicationHidden"
												th:checked="*{profileApplicationHidden}"> <label
												for="confirm-switch2"></label>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="card-tools">
							<a th:href="@{#}" id="EduSpecInsertbtn"
								class="genric-btn info-border circle"> <i class="fas">수정완료</i>
							</a> <a th:href="@{/profile/profileEduSpecList}"
								id="profileEduSpecResetbtn" class="genric-btn danger-border circle">
								<i class="fas">취소</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>
</html>