<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
		$('#certificateInsertbtn').click(function (e) {
			e.preventDefault();
			
			// $('#addCertificateForm').submit();
		});
		
		
		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-12">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-4">
							<h4 class="mb-4">프로필</h4>
							<a th:href="@{/profile/profileIntroList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자기소개</span>
							</a> <a th:href="@{/profile/profileSkillList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>보유기술</span>
							</a> <a th:href="@{/profile/profileWorkSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>경력</span>
							</a> <a th:href="@{/profile/profileEduSpecList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>학력</span>
							</a> <a th:href="@{/profile/profileCertificateList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>자격증</span>
							</a> <a th:href="@{/profile/profileAwardList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>수상이력</span>
							</a> <a th:href="@{/profile/profilePortfolioList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>포트폴리오</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card">
							<div class="card-header border-0">
								<h3 class="mb-0 title_color text-left">자격증 등록</h3>
								<div class="card-tools">
									<a id="certificateInsertbtn" 
										class="genric-btn info-border circle"> <i
										class="fas">수정완료</i>
									</a> <a id="certificateResetbtn" class="genric-btn danger-border circle">
										<i class="fas">입력취소</i>
									</a>
								</div>
							</div>
							<div class="card-body table-responsive p-0">
								<form id="addCertificateForm" th:action="@{/profile/profileCertificateModify}" class="d-md-flex justify-content-between">
									<table class="table table-valign-middle" th:object="${certificateInfo}">
										<thead>
											<tr>
												<th>자격증명</th>
												<th>기관명</th>
												<th>취득 일시</th>
												<th>공개 여부</th>
												<th>입사지원시 공개여부</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><input class="genric-btn" type="text" th:value="*{certificateName}"></td>
												<td><input class="genric-btn" type="text" th:value="*{certificatePublication}"></td>
												<td><input class="genric-btn" type="date" th:value="*{certificateDate}"></td>
												<td>
													<div class="d-flex justify-content-center">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch1" th:checked="*{profileHidden}">
															<label for="confirm-switch1"></label>
														</div>
													</div>
												</td>
												<td>
													<div class="d-flex justify-content-center">
														<div class="confirm-switch">
															<input type="checkbox" id="confirm-switch2" th:checked="*{profileApplicationHidden}">
															<label for="confirm-switch2"></label>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>
</html>