<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks47team02.user.announcement.mapper.AnnouncementMapper">

	<resultMap type="Announcement"   	 id="announcementResultMap">
	<id 	column="announcement_code"   property="announcementCode"/>
	<result column="cp_name" 		  	 property="cpName"/>
	<result column="join_cate_name"  	 property="joinCateName"/>
	<result column="area_cate" 			 property="areaCate"/>
	<result column="job_opening" 		 property="jobOpening"/>
	<result column="required_skills"	 property="requiredSkills"/>
	<result column="career"				 property="career"/>
	<result column="recruitment"		 property="recruitment"/>
	<result column="wage" 				 property="wage"/>
	<result column="hiring_status"  	 property="hiringStatus"/>
	</resultMap>
	
	<insert id="announcementInsert" parameterType="Announcement">
		/* 채용공고 등록 */
		INSERT INTO announcement 
			(announcement_code, cp_name, join_cate_name, area_cate, job_opening, required_skills, career, recruitment, wage, hiring_status)
		VALUES 
			(#{announcementCode},#{cpName},#{joinCateName},#{areaCate},#{jobOpening},#{requiredSkills},#{career},#{recruitment},#{wage},#{hiringStatus});
	</insert>
	
	<select id="getAnnouncementList" parameterType="map" resultType="Announcement">
		/* 채용공고 조회 */
		SELECT
			announcement_code AS announcementCode,
			cp_name 		  AS cpName,
			join_cate_name    AS joinCateName,
			area_cate 		  AS areaCate,
			job_opening 	  AS jobOpening,
			required_skills   AS requiredSkills,
			career 			  AS career,
			recruitment 	  AS recruitment,
			wage			  AS wage,
			hiring_status	  AS hiringStatus
		FROM
			announcement
	</select>
</mapper>