<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
		
		let msg = '[[${msg}]]';
		if(msg != 'null' && msg != '') {
			console.log(msg);
			alert(msg);
		}
		
		const validCheck = ele => {
			let data = $(ele).val();
			let eleMsg = $(ele).attr('placeholder');
			
			if(typeof data == 'undefined' || data == null || data == '') {
				alert(`${eleMsg} 필수 입력 항목입니다.`);
				$(ele).focus();
				return false;
			}
			return true;
		}
		
		$('#loginBtn').click(function (e) {
			e.preventDefault();
			
			const validateEle = $('#loginForm input');
			let isSubmit = false;
			
			validateEle.each( (idx, item) => {
				isSubmit = validCheck(item);
				return isSubmit;
			});
			if(isSubmit) $('#loginForm').submit();
		});
		
		$('#resetBtn').click(function (e) {
			e.preventDefault();
			
			$('#loginForm input').val('');
		});
		
	</script>
	
</th:block>

<th:block layout:fragment="customContents">

	<section class="jobs-area section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5">
					<div class="card card-info">
						<div class="card-header">
							<h3 class="card-title">로그인</h3>
						</div>
						<form id="loginForm" class="form-horizontal" th:action="@{/login}" method="post">
							<div class="card-body">
								<div class="form-group row">
									<div class="col-sm-12">
										<input type="text" class="form-control" id="userId" name="userId"
											placeholder="아이디">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-12">
										<input type="password" class="form-control" id="userPw" name="userPw"
											placeholder="비밀번호">
									</div>
								</div>
							</div>
							<div class="card-footer">
								<button type="submit" id="loginBtn" class="btn btn-info">로그인</button>
								<button type="reset" id="resetBtn" class="btn btn-default float-right">취소</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>
</html>