<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">
<head>
  <link rel="stylesheet" th:href="@{/user/assets/css/banner.css}">
  <style>
    h6.mb-0.pb-2 {
      position: relative;
      z-index: 9999;
    }
    #signupBtn {
      background-color: #0f222ab3;
    }
  </style>
</head>
<th:block layout:fragment="customJs">
  <!-- 자바스크립트 작성 공간 -->
  <script>
    $(document).ready(function() {
      $('#reg-log').change(function() {
        if(this.checked) {
          $('.card-front').hide();
          $('.card-back').show();
        } else {
          $('.card-back').hide();
          $('.card-front').show();
        }
      });
      
      
      let msg = '[[${msg}]]';
      if(msg != 'null' && msg != '') {
        console.log(msg);
        alert(msg);
      }
      
      const validCheck = ele => {
        let data = $(ele).val();
        let eleMsg = $(ele).attr('placeholder');
        
        if(typeof data == 'undefined' || data == null || data == '') {
          alert(`${eleMsg} 필수 입력 항목입니다.`);
          $(ele).focus();
          return false;
        }
        return true;
      }
      
      $('#loginBtn').click(function (e) {
        e.preventDefault();
        
        const validateEle = $('#loginForm input');
        let isSubmit = false;
        
        validateEle.each( (idx, item) => {
          isSubmit = validCheck(item);
          return isSubmit;
        });
        if(isSubmit) $('#loginForm').submit();
      });
      
      $('#cpLoginBtn').click(function (e){
        e.preventDefault();
        
        const validateEle = $('#cpLoginForm input');
        let isSubmit = false;
        
        validateEle.each( (idx, item) => {
          isSubmit = validCheck(item);
          return isSubmit;
        });
        if(isSubmit) $('#cpLoginForm').submit();
      });
    });
  </script>

</th:block>

<th:block layout:fragment="customContents">
  <div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <div class="card-header" style="margin-bottom: 200px">
              <h6 class="mb-0 pb-2"><span>일반회원</span><span>기업회원</span></h6>
              <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
              <label for="reg-log"></label>
            </div>
            <form id="loginForm" th:action="@{/login}" method="post">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">일반회원 로그인</h4>
                    <div class="form-group">
                      <input type="text" name="userId" class="form-style" value="id001" id="userId" autocomplete="off">
                      <i class="input-icon uil fas fa-user"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="password" name="userPw" class="form-style" value="pw001" id="userPw" autocomplete="off">
                      <i class="input-icon uil fas fa-lock"></i>
                    </div>
                    <button type="submit" class="btn mt-4" id="loginBtn">log in</button>
                    <button type="submit" class="btn mt-4" id="signupBtn">sign up</button>
                    <h5 class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></h5>
                  </div>
                </div>
              </div>
            </form>
            <form id="cpLoginForm" th:action="@{/cpLogin}" method="post">
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">기업회원 로그인</h4>
                    <div class="form-group">
                      <input type="text" name="cpId" class="form-style" id="cpId" value="cp001" autocomplete="off">
                      <i class="input-icon uil fas fa-user"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="password" name="cpPw" class="form-style" id="cpPw" value="cppw001" autocomplete="off">
                      <i class="input-icon uil fas fa-lock"></i>
                    </div>
                    <button type="submit" class="btn mt-4" id="cpLoginBtn">log in</button>
                    <button type="submit" class="btn mt-4" id="cpSignupBtn">sign up</button>
                    <h5 class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></h5>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>