<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{user/layout/default}">
<head>
<meta charset="UTF-8">
<style>
  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    table-layout: auto;
  }
  th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }

</style>
</head>
<th:block layout:fragment="customJs">
	<script>
		$('.proProjectDeleteBtn').click(function (e) {
		    e.preventDefault();
			let isDelete = confirm('정말로 삭제하시겠습니까?');
			if(isDelete) {
		        const proProjectCode = this.dataset.proProjectCode;
		        location.href=`/project/pro/proProjectDelete?proProjectCode=${proProjectCode}`;
		        //location.replace(/project/pro/proProjectDelete?proProjectCode=${proProjectCode});
		    }
		});
	</script>
</th:block>
		<th:block layout:fragment="customContents">
			<a th:href="@{/project/pro/proProjectInsert}">구인글 등록하기</a>
			<a th:href="@{/project/pro/progressStatusList}">진행상태 조회</a>
			<a th:href="@{/project/pro/depositList}">성과금 예치 목록 조회</a>
			<table>
				<thead>
					<tr>
						<th>회사명</th>
						<th>전문과제 제목</th>
						<th>참여분류</th>
						<th>작업분류</th>
						<th>주제분류</th>
						<th>요구기술</th>
						<th>상세내용</th>
						<th>최대인원</th>
						<th>진행상태</th>
						<th>성과금</th>
						<th>작성일자</th>	
						<th>마감일자</th>
						<th>마감완료일자</th>
						<th>전문과제 시작일자</th>
						<th>전문과제 완료일자</th>
						<th>전문과제 일수</th>
						<th>신청자 목록 조회</th>
						<th>개인별 맡은 기능 조회</th>
						<th>수정</th>
						<th>삭제</th>
						<th>
							<a th:href="@{#}"></a>
						</th>
						<th>
							<a th:href="@{#}"></a>
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.isEmpty(proProjectList)}">
						<td colspan="7">등록된 전문과제가 없습니다.</td>
					</tr>
					<tr th:unless="${#lists.isEmpty(proProjectList)}"
						th:each="p : ${proProjectList}">
						<td th:text="${p.proProjectCode}" hidden></td>
						<td th:text="${p.cpId}" hidden></td>
						<td th:text="${p.cpName}"></td>
						<td th:text="${p.title}"></td>
						<td th:text="${p.joinCateName}"></td>
						<td th:text="${p.workCateName}"></td>
						<td th:text="${p.subjectCateName}"></td>
						<td th:text="${p.skill}"></td>
						<td th:text="${p.details}"></td>
						<td th:text="${p.maxTotal}"></td>
						<td th:text="${p.runName}"></td>
						<td th:text="${p.proProjectPrice}"></td>
						<td th:text="${p.proProjectWriteDate}"></td>
						<td th:text="${p.dueDate}"></td>
						<td th:text="${p.dueCompleteDate}"></td>
						<td th:text="${p.proProjectStartDate}"></td>
						<td th:text="${p.proProjectCompleteDate}"></td>
						<td th:text="${p.proProjectDays}"></td>
						<td>
							<a th:href="@{/project/pro/proProjectApplicantList(proProjectCode=${p.proProjectCode})}">신청자 목록 보기</a>
						</td>
						<td>
							<a th:href="@{/project/pro/proProjectPersonalFunctionList(proProjectCode=${p.proProjectCode})}">조회하기</a>
						</td>
						<td> 
							<a th:href="@{/project/pro/proProjectModify(proProjectCode=${p.proProjectCode})}">수정</a>
						</td>
						<td>
							<a class="proProjectDeleteBtn" th:href="@{#}" th:data-pro-project-code="${p.proProjectCode}">삭제</a>
						</td>
					</tr>
				</tbody>
			</table>
		</th:block>
</html>