<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header class="header-area single-page" th:fragment="headerFragment">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="logo-area">
						<a th:href="@{/}"><img
							th:src="@{/user/assets/images/logo-light.png}" alt="logo"
							style="width: 180px; height: auto;"></a>
					</div>
				</div>
				<div class="col-lg-10">
					<div class="custom-navbar">
						<span></span> <span></span> <span></span>
					</div>

					<!-- 상단 메뉴 -->
					<div class="main-menu main-menu-light">
						<ul>
							<!-- 메인화면 -->
							<li class="active"><a th:href="@{/}">home</a></li>

							<!-- 프로젝트 메뉴 -->
							<li><a th:href="@{#}">프로젝트</a>
								<ul class="sub-menu">
									<li><a th:href="@{/normalProject/projectList}">일반과제
											프로젝트</a></li>
									<li><a th:href="@{/project/pro/proProjectList}">전문과제
											프로젝트</a></li>
								</ul></li>

							<!-- 구인구직 메뉴 -->
							<li><a th:href="@{/announcement/announcementList}">구인구직</a>
								<ul class="sub-menu">
									<li><a th:href="@{/announcement/announcementList}">구인구직</a></li>
									<li><a th:href="@{/recommend/recommendMain}">기업 추천
											서비스</a></li>
								</ul></li>

							<!-- 프로필 메뉴 -->
							<li><a th:href="@{/profile/}">구직 프로필</a>
								<ul class="sub-menu">
									<li><a th:href="@{/profile/profileIntroList}">자기소개</a></li>
									<li><a th:href="@{/profile/profileSkillList}">보유기술</a></li>
									<li><a th:href="@{/profile/profileWorkSpecList}">경력</a></li>
									<li><a th:href="@{/profile/profileEduSpecList}">학력</a></li>
									<li><a th:href="@{/profile/profileCertificateList}">자격증</a></li>
									<li><a th:href="@{/profile/profileAwardList}">수상이력</a></li>
									<li><a th:href="@{/profile/profilePortfolioList}">포트폴리오</a></li>
								</ul></li>

							<!-- 광고 메뉴 -->
							<li><a th:href="@{/banner}" onclick="showWarning()">광고문의</a>
								<ul class="sub-menu">
									<li><a th:href="@{/banner}">광고 문의</a></li>
									<li><a th:href="@{/banner/bannerRequest}">광고 신청</a></li>
									<li><a th:href="@{/banner/bannerRequestList}">광고 신청 현황</a></li>
									<li><a th:href="@{/banner/bannerProcessList}">#광고 진행 현황</a></li>
								</ul></li>

							<!-- 로그인 메뉴 -->
              <li class="menu-btn">
                <a th:if="${session.SID != null || session.CPID != null}" th:href="@{/logout}" class="login template-btn">log out</a>
                <a th:if="${session.SID == null && session.CPID == null}" th:href="@{/login}" class="login">log in</a>
                <a th:if="${session.SID == null && session.CPID == null}" th:href="@{/addMember}" class="template-btn">sign up</a>
              </li>
            </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-title text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<h2 th:text="${titleText}"></h2>
					<p th:text="${contents}"></p>
				</div>
			</div>
		</div>
	</div>
</header>
  <script th:inline="javascript">
    var userLevel = [[${session.SLEVEL}]];
      function showWarning() {
        if(userLevel === '일반회원') {
          alert("접근할 수 없는 메뉴입니다.");
          return false;
        }
        return true;
      }
  </script>
</html>