<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks47team02.user.profile.mapper.ProfileWorkSpecMapper">
	<!-- 회원별 보유기술 -->
	<resultMap type="ProfileWorkSpec" id="profileWorkSpecResultMap">
		<!-- id태그는 조회시 테이블의 PK(기본키) -->
		<id column="user_work_spec_code" property="userWorkSpecCode" />
		<!-- result태그는 조회시 테이블의 일반컬럼 혹은 외래키를 의 -->
		<result column="user_id" property="userId" />
		<result column="user_company" property="userCompany" />
		<result column="user_skill" property="userSkill" />
		<result column="user_enter_date" property="userEnterDate" />
		<result column="user_leave_date" property="userLeaveDate" />
		<result column="user_department" property="userDepartment" />
		<result column="user_rank" property="userRank" />
		<result column="user_work" property="userWork" />
		<result column="user_reg_date" property="userRegDate" />
		<result column="profile_hidden" property="profileHidden" />
		<result column="profile_application_hidden"
			property="profileApplicationHidden" />
	</resultMap>

	<select id="getProfileWorkSpecList" resultMap="profileWorkSpecResultMap">
		/*회원별 경력 조회 */
		SELECT
			pws.user_work_spec_code,
			pws.user_id,
			pws.user_company,
			pws.user_skill,
			pws.user_enter_date,
			pws.user_leave_date,
			pws.user_department,
			pws.user_rank,
			pws.user_work,
			pws.profile_reg_date,
			pws.profile_hidden,
			pws.profile_application_hidden
		FROM
			profile_work_spec as pws
		WHERE
			user_id = #{sessionId};
	</select>
	<insert id="profileWorkSpecInsert" parameterType="ProfileWorkSpec">
		<selectKey resultType="String" keyColumn="newWorkSpecCode" keyProperty="userWorkSpecCode" order="BEFORE">
			/*자기소개 자동 증가 코드*/
			<![CDATA[
			SELECT
			    CASE
			    WHEN COUNT(*) = 0 THEN 'user_work_spec_code001'
			    WHEN CAST(SUBSTRING_INDEX(user_work_spec_code, 'user_work_spec_code',-1) AS UNSIGNED) < 999
			    THEN CONCAT('user_work_spec_code', LPAD(MAX(CAST(SUBSTRING_INDEX(user_work_spec_code, 'user_work_spec_code',-1) AS UNSIGNED))+1,3,'0'))
			    ELSE
			        CONCAT('user_work_spec_code', MAX(CAST(SUBSTRING_INDEX(user_work_spec_code, 'user_work_spec_code',-1) AS UNSIGNED))+1)
			    END AS newWorkSpecCode
			FROM
			    profile_work_spec
			]]>
		</selectKey>

		/*회원가입*/
		INSERT INTO profile_work_spec(
			user_work_spec_code,
			user_id,
			user_company,
			user_skill,
			user_enter_date,
			user_leave_date,
			user_department,
			user_rank,
			user_work,
			profile_reg_date,
			profile_hidden,
			profile_application_hidden)
		VALUES(
			#{userWorkSpecCode},
			'id010',
			#{userCompany},
			#{userSkill},
			#{userEnterDate},
			#{userLeaveDate},
			#{userDepartment},
			#{userRank},
			#{userWork},
			CURDATE(),
			#{profileHidden},
			#{profileApplicationHidden});
	</insert>
	
	<update id="profileWorkSpecModify" parameterType="ProfileWorkSpec">
		/*일경력 수정*/
		UPDATE profile_work_spec
		<trim prefix="SET" suffixOverrides=",">
			<if test="userCompany !=null and userCompany !=''">
				user_company = #{userCompany},
			</if>
			<if test="userSkill !=null and userSkill !=''">
				user_skill = #{userSkill},
			</if>
			<if test="userEnterDate !=null and userEnterDate !=''">
				user_enter_date = #{userEnterDate},
			</if>
			<if test="userLeaveDate !=null and userLeaveDate !=''">
				user_leave_date = #{userLeaveDate},
			</if>
			<if test="userSkill !=null and userSkill !=''">
				user_skill = #{userSkill},
			</if>
			<if test="profileHidden !=null and profileHidden !=''">
				profile_hidden = #{profileHidden},
			</if>
			<if test="profileApplicationHidden !=null and profileApplicationHidden !=''">
				profile_application_hidden = #{profileApplicationHidden},
			</if>
		</trim>
		WHERE
			user_work_spec_code = #{userWorkSpecCode}
	</update>
	
	<select id="getProfileWorkSpecInfoByCode" parameterType="String" resultMap = "profileWorkSpecResultMap">
		/*일경력 상세조회 */
		select
		    pws.user_work_spec_code,
		    pws.user_id,
		    pws.user_company,
		    pws.user_skill,
		    pws.user_enter_date,
		    pws.user_leave_date,
		    pws.user_department,
		    pws.user_rank,
		    pws.user_work,
		    pws.profile_reg_date,
		    pws.profile_hidden,
		    pws.profile_application_hidden
		from
		    profile_work_spec as pws
		where
		    pws.user_work_spec_code = #{userWorkSpecCode}
	</select>
	<delete id="profileWorkSpecDelete" parameterType="String">
		DELETE
		FROM
			profile_work_spec
		WHERE
			user_work_spec_code = #{userWorkSpecCode}
	</delete>
	

</mapper>