<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks47team02.user.profile.mapper.ProfileAwardMapper">

	<resultMap id="ProfileAwardResultMap" type="ProfileAward">
		<id column="profile_award_code" property="profileAwardCode"/>
		<result column="user_id" property="userId"/>
		<result column="user_award_name" property="userAwardName"/>
		<result column="user_award_publication" property="userAwardPublication"/>
		<result column="user_award_date" property="userAwardDate"/>
		<result column="award_details" property="AwardDetails"/>
		<result column="profile_hidden" property="profileHidden"/>
		<result column="profile_application_hidden" property="profileApplicationHidden"/>
	</resultMap>

	<select id="profileAwardList" resultMap="ProfileAwardResultMap">
		/* 수상이력 조회 */
		SELECT
			profile_award_code,
			user_id,
			user_award_name,
			user_award_publication,
			user_award_date,
			award_details,
			profile_hidden,
			profile_application_hidden
		FROM
			profile_award;
	</select>

</mapper>