<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ks47team02.user.member.mapper.CompanyMapper">
	<!-- 
	<resultMap type="Cp" id="cpResultMap">
		<id column="cp_id" property="cpId"></id>
		<result column="cp_pw" property="cpPw"></result>
		<result column="level_code" property="levelCode"></result>
		<result column="level_name" property="levelName"></result>
		<result column="cp_reg_number" property="cpRegNumber"></result>
		<result column="cp_cate_code" property="cpCateCode"></result>
		<result column="cp_name" property="cpName"></result>
		<result column="area_code" property="areaCode"></result>
		<result column="area_name" property="areaName"></result>
		<result column="ceo_name" property="ceoName"></result>
		<result column="ceo_gender" property="ceoGender"></result>
		<result column="cp_addr" property="cpAddr"></result>
		<result column="cp_email" property="cpEmail"></result>
		<result column="cp_phone" property="cpPhone"></result>
		<result column="cp_join_date" property="cpJoinDate"></result>
	</resultMap> 
	
	<select id="loginCheck" parameterType="String" resultType="Cp">
		/* 로그인 시 아이디, 비밀번호, 권한 조회 */
		SELECT
			ci.cp_id AS cpId,
			ci.cp_pw AS cpPw,
			ci.cp_name AS cpName,
			ci.level_code AS levelCode,
			ci.level_name AS levelName
		FROM
			cp_info AS ci
		WHERE
			cp_id = #{cpId}
	</select>
	 -->
</mapper>