<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${title}"></title>
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" th:href="@{/admin/plugins/fontawesome-free/css/all.min.css}">
	<link rel="stylesheet" th:href="@{/admin/dist/css/adminlte.min.css}">
	<link rel="stylesheet" th:href="@{/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
</head>

<body class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" style="height: auto;">
	<div class="wrapper">
	
		<!-- top navigation start-->
		<div th:replace="~{admin/fragments/header :: headerFragment}"></div>
		<!-- top navigation end-->
		
		<!-- aside start -->
		<div th:replace="~{admin/fragments/aside :: asideFragment}"></div>
		<!-- aside end -->
		
		<!-- contents start -->
		<div layout:fragment="customContents"></div>
		<!-- contents end -->
		
		<!-- footer content -->
		<div th:replace="~{admin/fragments/footer :: footerFragment}"></div>
		<!-- footer end-->
		
		<div th:replace="~{admin/fragments/rightsidebar :: rightsidebarFragment}"></div>
		
		<div id="sidebar-overlay"></div>
	</div>

	<script th:src="@{/user/assets/js/vendor/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/admin/dist/js/adminlte.js}"></script>
	<script th:src="@{/admin/plugins/jquery-mousewheel/jquery.mousewheel.js}"></script>
	
	<!-- 사용자 정의 javascript파일 -->
	<th:block layout:fragment="customJs"></th:block>
</body>

</html>