
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
</th:block>

<th:block layout:fragment="customContents">
	<div class="row container col-lg-12" style="margin-bottom: 50px">
		<div class="col-lg-3" style="margin-top: 40px">
			<div class="sidebar">
				<div class="single-item mb-4">
					<h4 class="mb-4">일반과제</h4>
					<a th:href="@{/normalProject/getApplicantAcceptList}"
					   class="sidebar-btn d-flex justify-content-between mb-3"> <span>신청자 목록</span>
					</a>
					<a th:href="@{/normalProject/getApplicantAcceptList}"
					   class="sidebar-btn d-flex justify-content-between mb-3"> <span>신청자 목록</span>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-8" style="padding-top: 40px">
			<div class="single-job mb-4 justify-content-between text-center">
				<div class="card">
					<div class="card-header border-0">
						<h3 class="mb-0 title_color text-left">일반과제 </h3>
						<div class="card-tools">
							<a th:href="@{/normalProject/addProject}" class="genric-btn info-border circle"> <i class="fas">등록</i>
							</a>
						</div>
					</div>
					<div class="card-body table-responsive p-0">
						<div class="single-job mb-4 d-lg-flex justify-content-between"
						 th:unless="${#lists.isEmpty(normalProjectList)}"
						 th:each="l : ${normalProjectList}"
						 th:onclick="|location.href='@{/normalProject/projectDetail(normalProjectCode=${l.normalProjectCode})}'|">
						<div class="job-text text-left">
							<h4 th:text="${l.normalProjectName}"></h4>
							<ul class="mt-4">
								<li class="mb-3"><h5 th:text="|프로젝트 신청 마감일 ${l.projectAdvertiseFinishDate}|"></h5></li>
								<li class="mb-3"><h5 th:text="|참여분야 : ${l.joinCateName} 주제분류 : ${l.workCateName} 요구기술 : ${l.requiredSkill}|"><i class="fa fa-pie-chart"></i></h5></li>
								<li><h5 th:text="|프로젝트 참여인원 : ${l.projectMaxPeopleNum}|"><i class="fa fa-clock-o"></i></h5></li>
							</ul>
						</div>
						<div class="job-btn align-self-center">
							<a href="#" class="third-btn job-btn1">full time</a>
							<a href="#" class="third-btn">apply</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

</th:block>

</html>
