<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script th:src="@{/js/jquery-3.7.0.js}"></script>
	<script>
	$('.job-btn2').click(function (e) {
        e.preventDefault();

        let isDelete = confirm('정말로 삭제하시겠습니까?');

        if(isDelete) {
            const supportCode = this.dataset.supportCode;
            location.replace(`/recommend/recommendRemovesupport?compansupportCode=${supportCode}`);
        }
    });
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-10">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-4">
							<h4 class="mb-4">기업 추천 서비스</h4>
							<a th:href="@{/recommend/recommendMain}"
								class="sidebar-btn d-flex justify-content-between mb-3"><span>분류별
									Top5</span> </a> <a th:href="@{/recommend/recommendScrap}"
								class="sidebar-btn d-flex justify-content-between mb-3"><span>스크랩
									순</span> </a> <a th:href="@{/recommend/recommendSupport}"
								class="sidebar-btn d-flex justify-content-between mb-3"><span>기업
									지원 순</span> </a> <a th:href="@{/recommend/recommendEmployment}"
								class="sidebar-btn d-flex justify-content-between mb-3"><span>채용
									단계별 채용 순</span> </a>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="mb-2">
						<div class="card-tools">
							<a th:href="@{/recommend/recommendInsertSupport}"
								class="genric-btn info-border circle"> <i class="fas">등록</i>
							</a>
						</div>
					</div>	
					<div class="main-content">
                        <div class="single-content1" th:unless="${#lists.isEmpty(recommendSupportInfo)}"
                           	 th:each="l : ${recommendSupportInfo}">
                           	 <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                <h4 th:text="${l.userId}"></h4>
                                <ul class="mt-4">
                                        <li class="mb-3"><h6 th:text="|[기업 이름] : ${l.cpName}|"></h6></li>
                                        <li class="mb-3"><h6 th:text="|[지역] : ${l.areaCate}|"></h6></li>
                                        <li class="mb-3"><h6 th:text="|[채용직] : ${l.jobOpening}|"></h6></li>
                                        <li class="mb-3"><h6 th:text="|[요구 기술] : ${l.requiredSkills}|"></h6></li>
                                        <li class="mb-3"><h6 th:text="|[관련 업무 경력] : ${l.career}|"></h6></li>
                                        <li class="mb-3"><h6 th:text="|[급여] : ${l.wage}|"></h6></li>
                                        <li class="mb-3"><h6 th:text="|[스크랩 날자] : ${l.applicationDate}|"></h6></li>
								</ul>
								</div>
								<div class="job-btn align-self-center">
		                            <a th:href="@{/recommend/recommendModifySupport}"
		                               class="third-btn job-btn4">수정</a>
		                            <a th:href="@{#}" th:data-support-code="${l.companySupportCode}"
		                               class="third-btn job-btn2">삭제</a>
		                        </div>
		                       </div>
		                      </div>
							<div class="single-content1" th:if="${#lists.isEmpty(recommendSupportInfo)}">
                            <div class="single-job d-lg-flex justify-content-center">
                                <div class="job-text">
                                    <h5 th:text="|***등록된 기업 지원 목록이 없습니다.***|"></h5>
                                </div>
                            </div>
                        </div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</th:block>
</html>