<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
<head>
<meta charset="UTF-8">
<title>기업 추천 서비스 메인 화면</title>
<link rel="stylesheet" href="/user/assets/css/style.css">
<link rel="stylesheet" href="/user/assets/css/footer.css">

</head>
<body>

	<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-10">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-4">
							<h4 class="mb-4">기업 추천 서비스</h4>
							<a th:href="@{/recommend/recommendMain}"
								class="sidebar-btn d-flex justify-content-between mb-3"><span>분류별
									Top5</span> </a> <a th:href="@{/recommend/recommendScrap}"
								class="sidebar-btn d-flex justify-content-between mb-3"><span>스크랩
									순</span> </a> <a th:href="@{/recommend/recommendSupport}"
								class="sidebar-btn d-flex justify-content-between mb-3"><span>기업
									지원 순</span> </a> <a th:href="@{/recommend/recommendEmployment}"
								class="sidebar-btn d-flex justify-content-between mb-3"><span>채용
									단계별 채용 순</span> </a>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="main-content">
						<div class="text-center mb-4">
							<h2>분류별 TOP5</h2>
						</div>
						<div class="single-job mb-4 d-lg-flex justify-content-between">
							<ul>
								<li><h6 th:text="|[스크랩 순 TOP5]|"></h6></li> 
							</ul>
							<ul>
								<li><h6 th:text="|[기업 지원 순 TOP5]|"></h6></li> 
							</ul>
							<ul>
								<li><h6 th:text="|[채용 단계 순 TOP5]|"></h6></li>
							</ul>
						</div>
                           	 
                        <div class="single-content1" th:unless="${#lists.isEmpty(recommendSupportRank)}"
                           	 th:each="l, stat:${recommendSupportRank}">
                           	 <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                <ul class="mt-4">             	 
                                        <li><h6 th:text="|Top${stat.count} ${l.cpName}|"></h6></li>                                  
								</ul>			
								</div>
								<div class="job-text">
                                <ul class="mt-4">
                                        <li><h6 th:text="|Top${stat.count} ${l.cpName}|"></h6></li>                                  
								</ul>			
								</div>
								<div class="job-text">
                                <ul class="mt-4">
                                        <li><h6 th:text="|Top${stat.count} ${l.cpName}|"></h6></li>                                  
								</ul>			
								</div>		
		                       </div>
		                      </div>
							<div class="single-content1" th:if="${#lists.isEmpty(recommendSupportRank)}">
                            <div class="single-job d-lg-flex justify-content-center">
                                <div class="job-text">
                                    <h5 th:text="|***등록된 TOP5 목록이 없습니다.***|"></h5>
                                </div>
                            </div>
                        </div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</th:block>
	
</body>
</html>