<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">
<head>
<meta charset="UTF-8">
<title>기업 추천 서비스 메인 화면</title>
<link rel="stylesheet" href="/user/assets/css/style.css">
<link rel="stylesheet" href="/user/assets/css/footer.css">
<style>
.button {
  padding-left: 61px;
  padding-right: 61px;
  text-align: center;
}
</style>
</head>
<body>
	<th:block layout:fragment="customContents">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-job mb-4 d-lg-flex justify-content-between">
						<div class="job-text">
							<table>
								<thead>
									<tr>
										<th>
											<button class="button" type="button"
												onclick="location.href='recommendScrap'">스크랩 순 기업
												추천 서비스</button>
										</th>
										<th>
											<button class="button" type="button"
												onclick="location.href='recommendSupport'" >기업 지원 순
												기업 추천 서비스</button>
										</th>
										<th>
											<button class="button" type="button"
												onclick="location.href='recommendEmployment'">채용 단계
												순 기업 추천 서비스</button>
										</th>
									</tr>
								</thead>
							</table>
							<br>
							<br>

							<h2>분류 별 top 5</h2>
							<table>
								<thead>
									<tr>
										<th>스크랩 순 기업 추천 서비스</th>
										<th>기업 지원 순 기업 추천 서비스</th>
										<th>채용 단계 순 기업 추천 서비스</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td th:each="l : ${recommendSupportRank}">    
    									<td th:if="${l != null}" th:text="${l.cpName}">[[${l.cpName}]]</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>