<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<script th:src="@{/js/jquery-3.7.0.js}"></script>
	<script>
	  
		// 유효성검사 함수
		const validCheck = element => {
   			let data = $(element).val();
   			let eleId = $(element).attr('placeholder');
   			if(typeof data == 'undefined' || data == null || data == '' ){
   				alert(`${eleId} 필수 입력항목입니다.`);
   				$(element).focus();
   				return false;
   			}
   			return true;
   		}


		// 등록버튼 
		$('#addEmploymentBtn').click(function(){
			const validateEle = $('#employmentInsertForm input');
			let isSubmit= false;
			
			validateEle.each((idx, item) => {    				
    			isSubmit = validCheck(item);
    			return isSubmit;
   			})
			if(isSubmit)$('#employmentInsertForm').submit();
			
		})

		// 입력 취소 버튼 클릭시 이벤트 처리
   		$('#resetBtn').click(function(e){
   			
   			e.preventDefault();
   			$('#employmentInsertForm input').val('');
   		});
		
		// 페이지 로딩 시 채용 공고 코드 자동 추가
		$(document).ready(function () {
			$.ajax({
				url: "/recommend/recommendAjaxEmployment",  // url 경로(컨트롤러에서 ajax로 데이터 요청을 위한 컨트롤러 생성)
				type: "GET",
				success: function (employmentInfo) {
					//console.log(employmentInfo);
					
				
					let increaseEmploymentCodeInput = document.getElementById("companyEmploymentCode"); 	//""안에 pk프로퍼티 작성

					increaseEmploymentCode(employmentInfo);	
					let newCodeNumber = maxNumber + 1;
					//console.log(newCodeNumber);
					let newCodeSuffix = "";
					if (newCodeNumber >= 1 && newCodeNumber <= 9) {
						newCodeSuffix = "00" + newCodeNumber;
					} else if (newCodeNumber >= 10 && newCodeNumber <= 99) {
						newCodeSuffix = "0" + newCodeNumber;
					} else {
						newCodeSuffix = newCodeNumber;
					}
					
					let newRegistrationCode = "company_employment_code_" + newCodeSuffix;	//	""안에 001(순번)앞 컬럼명 작성
					//console.log(newRegistrationCode);
					increaseEmploymentCodeInput.value = newRegistrationCode;
					increaseEmploymentCodeInput.readOnly = true;
				},
				error: function (error) {
					console.log("에러", error);
				}
			});
			
		});
					
		let maxNumber = 0;
		function increaseEmploymentCode(employmentInfo) {

			let data = employmentInfo.map(info => {
				let key = Object.keys(info);
				let firstkey = key[0];
				return info[firstkey];
			});
			//console.log(data);

			data.forEach(function (item) {
				let code = item;
				if (code && typeof code === "string") {
					let codeParts = code.split("de");
					if (codeParts.length = 2) {
						let codeNumber = parseInt(codeParts[1]);
						if (!isNaN(codeNumber) && codeNumber > maxNumber) {
							maxNumber = codeNumber;
						}
						//console.log(codeNumber);
					}
						//console.log(codeParts);
				}						
						//console.log(code);
						
			});	
			return maxNumber;
		}
		function fetchData (selectedUserId){
			// AJAX로 데이터를 가져와 userId 변경시 Support코드도 변경
	        $.ajax({
	            url: "/recommend/recommendAjaxSupport", 
	            type: "GET",
	            success: function (supportInfo) {
	               
					console.log(supportInfo);
	                
	                let matchingData = supportInfo.filter(info => info.userId == selectedUserId);
					console.log(matchingData[0]);
	            
	                if (matchingData[0]) {
	                    let companySupportCodeInput = document.getElementById("companySupportCode");
	                    console.log(companySupportCodeInput);
	                    companySupportCodeInput.value = matchingData[0].companySupportCode;
	                    console.log(companySupportCodeInput.value);
	                } else {
	                    
	                    let companySupportCodeInput = document.getElementById("companySupportCode");
	                    companySupportCodeInput.value = "";
	                }
	            },
	            error: function (error) {
	                console.log("에러", error);
	            }
	        });
		}
		$(document).on('click','#userId+.nice-select .option', function (e) {
			let selectedUserId = $(this).attr('data-value');
			 fetchData(selectedUserId);
		});
		/*
		$('#userId').on('change', function(){
			let selectedUserId = $(this).val();
	        console.log('123')
	        fetchData(selectedUserId);
		});
	    */
	    function areaData(selectedAreaCate){
	    	$.ajax({
	    		url:"/recommend/recommendAjaxArea",
	    		type:"GET",
	    		success: function (areaInfo){
	    			console.log(areaInfo)
	    			let matchingData = areaInfo.filter(info => info.areaCate == selectedAreaCate);
					console.log(matchingData[0]);
	            
	                if (matchingData[0]) {
	                    let areaCodeInput = document.getElementById("areaCode");
	                    console.log(areaCodeInput);
	                    areaCodeInput.value = matchingData[0].areaCode;
	                    console.log(areaCodeInput.value);
	                } else {
	                    
	                    let areaCodeInput = document.getElementById("areaCode");
	                    areaCodeInput.value = "";
	                }
	            },
	            error: function (error) {
	                console.log("에러", error);
	    		}
	    	});
	    }
	    $(document).on('click','#areaCate+.nice-select .option', function (e) {
			let selectedAreaCate = $(this).attr('data-value');
			areaData(selectedAreaCate);
		});
	    
	    function JoinCateData(selectedjoinCateName){
	    	$.ajax({
	    		url:"/recommend/recommendAjaxJoinCate",
	    		type:"GET",
	    		success: function (JoinCateInfo){
	    			console.log(JoinCateInfo)
	    			let matchingData = JoinCateInfo.filter(info => info.joinCateName == selectedjoinCateName);
					console.log(matchingData[0]);
	            
	                if (matchingData[0]) {
	                    let JoinCateCodeInput = document.getElementById("joinCateCode");
	                    console.log(JoinCateCodeInput);
	                    JoinCateCodeInput.value = matchingData[0].joinCateCode;
	                    console.log(JoinCateCodeInput.value);
	                } else {
	                    
	                    let JoinCateCodeInput = document.getElementById("joinCateCode");
	                    JoinCateCodeInput.value = "";
	                }
	            },
	            error: function (error) {
	                console.log("에러", error);
	    		}
	    	});
	    }
	    $(document).on('click','#joinCateName+.nice-select .option', function (e) {
			let selectedjoinCateName = $(this).attr('data-value');
			JoinCateData(selectedjoinCateName);
		});
	    
</script>
			

</th:block>
<body>
	<th:block layout:fragment="customContents">
		<section class="jobs-area section-padding">
			<div class="container col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="sidebar">
							<div class="single-item mb-4">
								<h4 class="mb-4">기업 추천 서비스</h4>
								<a th:href="@{/recommend/recommendMain}"
									class="sidebar-btn d-flex justify-content-between mb-3"><span>분류별
										Top5</span> </a> <a th:href="@{/recommend/recommendScrap}"
									class="sidebar-btn d-flex justify-content-between mb-3"><span>스크랩
										순</span> </a> <a th:href="@{/recommend/recommendSupport}"
									class="sidebar-btn d-flex justify-content-between mb-3"><span>기업
										지원 순</span> </a> <a th:href="@{/recommend/recommendEmployment}"
									class="sidebar-btn d-flex justify-content-between mb-3"><span>채용
										단계별 채용 순</span> </a>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="single-job mb-4 justify-content-between text-center">
							<div class="card">
								<div class="card-header border-0">
									<h3 class="mb-0 title_color text-left">채용 단계 순 목록 등록</h3>
									<div class="card-tools">
										<button th:href="@{/recommend/recommendEmployment}"
											id="addEmploymentBtn"
											class="genric-btn info-border circle"> <i class="fas">등록
												완료</i>
										</button> <button th:href="@{#}" id="resetBtn"
											class="genric-btn danger-border circle"> <i class="fas">취소</i>
										</button>
									</div>
								</div>
								<div class="card-body table-responsive p-0">
									<form id="employmentInsertForm"
										th:action="@{/recommend/recommendInsertEmployment}"
										method="post"
										class="d-md-flex justify-content-between">
										<table class="table table-valign-middle">
											<thead>
												<tr>
													<th>채용 공고 코드</th>
													<th>회사 지원 코드</th>
													<th>회원 아이디</th>
													<th>공고한 회사 이름</th>
													<th>참여 분야 코드</th>
													<th>참여 분야</th>
													<th>지역 코드</th>
													<th>지역</th>
													<th>채용직</th>
													<th>요구 기술</th>
													<th>경력</th>
													<th>급여</th>
													<th>작성 일시</th>
													<th>마감 일시</th>
													<th>진행 상황 분류 코드</th>
													<th>진행 상태 분류</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><input class="genric-btn" type="text"
														id="companyEmploymentCode" name="companyEmploymentCode" placeholder="채용 공고 코드"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '채용 공고 코드'" required="" readonly="readonly"></td>
											
													<td><input class="genric-btn" type="text"
														id="companySupportCode" name="companySupportCode" placeholder="기업 지원 코드"
														
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '기업 지원 코드'" required="" readonly="readonly"></td>
													
													<td>
														<select class="genric-btn" id="userId"	name="userId">
															<option value="">====아이디를 선택해주세요====</option>
															<th:block th:unless="${#lists.isEmpty(recommendSupportInfo)}"
																	  th:each="l : ${recommendSupportInfo}">
																<option th:value="${l.userId}">[[${l.userId}]]</option>
															</th:block>
														</select>
													</td>
													
													<td><select class="genric-btn" id="announcementCode"	name="announcementCode">
														<option value="">===회사이름을 선택해주세요===</option>
														<th:block th:unless="${#lists.isEmpty(recommendCpIdInfo)}"
																  th:each="l : ${recommendCpIdInfo}">
															<option th:value="${l.cpName}">[[${l.cpName}]]</option>
														</th:block>
														</select>
													</td>

													<td><input class="genric-btn" type="text"
														id="joinCateCode" name="joinCateCode" placeholder="참여 분야 코드"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '참여 분야 코드'" required=""></td>
													
													<td>
														<select class="genric-btn" id="joinCateName"	name="joinCateName">
															<option value="">====분야를 선택해주세요====</option>
															<th:block th:unless="${#lists.isEmpty(recommendJoinCateInfo)}"
																	  th:each="l : ${recommendJoinCateInfo}">
																<option th:value="${l.joinCateName}">[[${l.joinCateName}]]</option>
															</th:block>
														</select>
													</td>											
																		
													<td><input class="genric-btn" type="text"
														id="areaCode" name="areaCode" placeholder="지역 코드"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '지역 코드'" required=""></td>
													
													<td>
														<select class="genric-btn" id="areaCate"	name="areaCate">
															<option value="">====지역을 선택해주세요====</option>
															<th:block th:unless="${#lists.isEmpty(recommendAreaInfo)}"
																	  th:each="l : ${recommendAreaInfo}">
																<option th:value="${l.areaCate}">[[${l.areaCate}]]</option>
															</th:block>
														</select>
													</td>
													
													
													<td><select class="genric-btn" id="jobOpening"	name="jobOpening">
														<option value="">===채용직을 선택해주세요===</option>
														<option value="">정규직</option>
														<option value="">계약직</option>
														</select>
													</td>
																									
													<td><input class="genric-btn" type="text"
														id="requiredSkills" name="requiredSkills" placeholder="요구 기술"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '요구 기술'" required=""></td>
													
													<td><input class="genric-btn" type="text"
														id="career" name="career" placeholder="경력"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '경력'" required=""></td>
													
													<td><input class="genric-btn" type="text"
														id="wage" name="wage" placeholder="임금"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '임금'" required=""></td>
													
													<td><input class="genric-btn" type="date"
														id="startDate" name="startDate" placeholder="시작일자"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '시작일자'" required=""></td>
													
													<td><input class="genric-btn" type="date"
														id="duedate" name="duedate" placeholder="마감일자"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '마감일자'" required=""></td>
													
													<td><input class="genric-btn" type="text"
														id="jobNormalRunCode" name="jobNormalRunCode" placeholder="진행 상황 분류 코드"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '진행 상황 분류 코드'" required=""></td>
													
													<td><input class="genric-btn" type="text"
														id="jobNormalRun"  name="jobNormalRun" placeholder="진행 상황 분류"
														onfocus="this.placeholder = ''"
														onblur="this.placeholder = '진행 상황 분류'" required=""></td>
												</tr>
											</tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</th:block>

</body>
</html>