<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
</th:block>

<th:block layout:fragment="customContents">
	<section class="jobs-area section-padding">
		<div class="container col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card">
							<div class="card-header border-0">
								<h3 class="mb-0 title_color text-center">구인구직공고삭제</h3>
								<div class="card-tools">
									<button th:href="@{/announcement/announcementList}" class="genric-btn info-border circle" id="announcementRemoveBtn">
										<i class="fas">삭제완료</i>
									</button>
									<button th:href="@{#}" class="genric-btn danger-border circle" id="resetBtn">
										<i class="fas">취소</i>
									</button>
								</div>
							</div>
							<div class="card-body table-responsive p-0">
								<form id="announcementRemoveForm" th:action="@{/announcement/announcementRemove}" method="post"  class="d-md-flex justify-content-between">
									<table class="table table-valign-middle" >
										<thead>
										</thead>
										<tbody>
											<tr>
												<input class="genric-btn" type="hidden" id="announcementCode"  name="announcementCode" th:value="${announcementCode}"/>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>

</html>