<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{user/layout/default}">
<head>
<meta charset="UTF-8">
<style>
table{
	border : 1px solid black;
	width: 650px;
	table-layout: auto;
	text-align: center;
}
th{
	border: 1px solid black;
	background-color: cornflowerblue;
	color : azure;
	height: 30px;
}
td{
	border : 1px solid black;
	height: 30px;
}
tfoot a {
	text-decoration-line : none;
	color : blue;
}
</style>
</head>
<body>
	<th:block layout:fragment="customContents">
	
		<table>
			<thead>
				<tr>
					<th>회사명</th>
					<th>참여분야</th>
					<th>지역분류</th>
					<th>채용직</th>
					<th>요구기술</th>
					<th>관련업무경력</th>
					<th>채용인원</th>
					<th>급여</th>
					<th>진행상태분류</th>
					<th>등록</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.isEmpty(announcementList)}">
					<td colspan="12">등록된 공고가 없습니다.</td>
				</tr>
				<tr th:unless="${#lists.isEmpty(announcementList)}"
					th:each="l : ${announcementList}">
					<td th:text="${l.cpName}"></td>
					<td th:text="${l.joinCateName}"></td>
					<td th:text="${l.areaCate}"></td>
					<td th:text="${l.jobOpening}"></td>
					<td th:text="${l.requiredSkills}"></td>
					<td th:text="${l.career}"></td>
					<td th:text="${l.recruitment}"></td>
					<td th:text="${l.wage}"></td>
					<td th:text="${l.hiringStatus}"></td>
					<td>
						<a th:href="@{/announcement/announcementInsert}">등록</a>
					</td>
					<td>
						<a th:href="@{#}">수정</a>
					</td>
					<td>
						<a th:href="@{#}">삭제</a>
					</td>
					
				</tr>
			</tbody>
		</table>
	</th:block>
</body>
</html>