<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script th:src="@{/js/jquery-3.7.0.js}"></script>
	<script>
			// 유효성검사 함수
    		const validCheck = element => {
    			let data = $(element).val();
    			let eleId = $(element).attr('id');
    			if(typeof data == 'undefined' || data == null || data == '' ){
    				let cate = $(`label[for="${eleId}"]`).text();
    				alert(`${cate} 필수 입력항목입니다.`);
    				$(element).focus();
    				return false;
    			}
    			return true;
    		}
    		
    		// 수정완료 버튼시 이벤트
    		$('#announcementModifyBtn').click(function(){
    			const validateEle = $('#announcementModifyForm input').not('#announcementCode');
    			let isSubmit = false;
    			validateEle.each((idx, item) => {    				
	    			isSubmit = validCheck(item);
	    			return isSubmit;
    			})
    			if(isSubmit) $('#announcementModifyForm').submit();
    		});
    		
    		
    		// 입력 취소 버튼 클릭시 이벤트 처리
    		$('#resetBtn').click(function(e){
    			// 태그가 가지고 있는 기본 이벤트 동작 방지
    			e.preventDefault();
    			$('#announcementModifyForm input').val('');
    		});
    		
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<section class="contact-form section-padding">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="single-job mb-4 justify-content-between text-center">
						<div class="card single-job">
							<form id="announcementModifyForm"
								  th:action="@{/announcement/announcementModify}" method="post"
								  class="d-md-flex justify-content-center">

								<div class="left" th:object="${announcementInfo}">
									<input type="hidden" name="announcementCode"
										   th:value="*{announcementCode}">
									<p class="text-left" style="font-size:large; font-weight:900;">회사명</p>
									<input type="text"
										   placeholder="회사명" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '회사명'"
										   name="cpName" th:value="*{cpName}"> 
									<p class="text-left" style="font-size:large; font-weight:900;">참여분야</p>
									<input type="text"
										   placeholder="참여분야" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '참여분야'"
										   name="joinCateName" th:value="*{joinCateName}"> 
									<p class="text-left" style="font-size:large; font-weight:900;">지역분류</p>
									<input type="text"
										   placeholder="지역분류" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '지역분류'"
										   name="areaCate" th:value="*{areaCate}">
									<p class="text-left" style="font-size:large; font-weight:900;">채용직</p>
									<input type="text"
										   placeholder="채용직" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '채용직'" readonly
										   name="jobOpening" th:value="*{jobOpening}">
									<p class="text-left" style="font-size:large; font-weight:900;">요구기술</p>
									<input type="text"
										   placeholder="요구기술" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '요구기술'" 
										   name="requiredSkills" th:value="*{requiredSkills}">
									<p class="text-left" style="font-size:large; font-weight:900;">관련 업무 경력</p>
									<input type="text"
										   placeholder="관련 업무 경력" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '관련 업무 경력'" 
										   name="career" th:value="*{career}">
									<p class="text-left" style="font-size:large; font-weight:900;">채용인원</p>
									<input type="text"
										   placeholder="채용인원" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '채용인원'" 
										   name="recruitment" th:value="*{recruitment}">
									<p class="text-left" style="font-size:large; font-weight:900;">급여</p>
									<input type="text"
										   placeholder="급여" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '급여'" 
										   name="wage" th:value="*{wage}">
									<p class="text-left" style="font-size:large; font-weight:900;">작성시간</p>
									<input type="date"
										   placeholder="작성시간" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '작성시간'" 
										   name="startDate" th:value="*{startDate}">
									<p class="text-left" style="font-size:large; font-weight:900;">마감시간</p>
									<input type="date"
										   placeholder="마감시간" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '마감시간'" 
										   name="dueDate" th:value="*{dueDate}">
									<p class="text-left" style="font-size:large; font-weight:900;">진행상태분류</p>
									<input type="text"
										   placeholder="진행상태분류" onfocus="this.placeholder = ''"
										   onblur="this.placeholder = '진행상태분류'" 
										   name="hiringStatus" th:value="*{hiringStatus}">
									
									
								</div>
							</form>
						</div>
						<div class="card-tools">
							<button th:href="@{/announcement/announcementList}" id="announcementModifyBtn"
								class="genric-btn info-border circle"> <i class="fas">수정완료</i>
							</button> <button th:href="@{/announcement/announcementList}"
								id="resetBtn" class="genric-btn danger-border circle">
								<i class="fas">취소</i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</th:block>

</html>