<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script>
	// 구인구직 공고 삭제
	$('.danger-border').click(function (e) {
            e.preventDefault();

            let isDelete = confirm('정말로 삭제하시겠습니까?');

            if(isDelete) {
                const announcementCode = this.dataset.announcementCode;
                location.replace(`/announcement/announcementRemove?announcementCode=${announcementCode}`);
            }
        });
	</script>
</th:block>

<th:block layout:fragment="customContents">
	
	<section class="jobs-area section-padding">
		<div class="container col-lg-10">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-3">
							<h4 class="mb-3">구인구직</h4>
							<a th:href="@{/announcement/announcementList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>구인구직 검색</span></a> 
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="mb-2">
						<div class="card-tools" >
							<a th:href="@{/announcement/announcementInsert}" class="genric-btn info-border circle">
							<i class="fas">등록</i>
							</a>
						</div>
						<div class="main-content">
							<div class="card-header border-0">
								<form th:action="@{/announcement/announcementList}" method="get">
			                           <select class="genric-btn" name="searchKey" >
			                               <option value="joinCateName">참여분야별 검색</option>
			                               <option value="areaCate">지역별 검색</option>
			                           </select>
			                           <input type="text" name="searchValue" placeholder="검색어 입력" onfocus="this.placeholder = ''" onblur="this.placeholder = '검색어 입력'" required="" />
			                           <button type="submit" class="genric-btn primary-border radius" data-toggle="modal">검색</button>
		                        </form>
							</div>
							<div class="single-content1" th:unless="${#lists.isEmpty(announcementList)}"
                           	 th:each="l : ${announcementList}">
                            <div class="single-job mb-4 d-lg-flex justify-content-between">
                                <div class="job-text">
                                    <h4 th:text="${l.cpName}"></h4>
                                    <ul class="mt-4">
                                        <li class="mb-3"><h6 th:text="|[회사명] : ${l.cpName}|"></h6></li>
                                        <li class="mb-3"><h6 th:text="|[지역] : ${l.areaCate}|"></h6></li>
                                        <li class="mb-3"><h6 th:text="|[관련업무경력] : ${l.career}|"></h6></li>
                                    </ul>
                                </div>
                                <div class="job-btn align-self-center">
		                            <a th:href="@{/announcement/announcementModify(announcementCode=${l.announcementCode})}"
		                               class="third-btn job-btn4">수정</a>
		                            <a th:href="@{#}" id="announcementRemoveBtn" th:data-announcement-code="${l.announcementCode}"
		                               class="third-btn job-btn2 danger-border">삭제</a>
		                        </div>
                            </div>
                        </div>
                        
						</div>
          			</div>
                    </div>
                </div>
			</div>
	</section>
</th:block>

</html>