<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/default}">

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script th:src="@{/js/jquery-3.7.0.js}"></script>
	<script>
			// 유효성검사 함수
    		const validCheck = element => {
    			let data = $(element).val();
    			let eleId = $(element).attr('id');
    			if(typeof data == 'undefined' || data == null || data == '' ){
    				let cate = $(`label[for="${eleId}"]`).text();
    				alert(`${cate} 필수 입력항목입니다.`);
    				$(element).focus();
    				return false;
    			}
    			return true;
    		}
    		
    		$(document).ready(function () {
    			// 모달 열기 버튼 클릭 이벤트 처리
    			$('#searchBtn').on('click', function () {
    				$.ajax({
    					url: '/announcement/area', // 컨트롤러의 매핑 주소에 맞게 변경
    					method: 'POST',
    					dataType: 'json',
    					success: function (response) {
    						// AJAX 요청이 성공했을 때의 처리
    						console.log(response);
    						populateAreaCateModal(response); // 모달에 데이터 표시
    						//$('#exampleModalCenter').modal('show'); // 모달 열기
    					},
    					error: function () {
    						// AJAX 요청이 실패했을 때의 처리
    						console.error('Failed to fetch areaCate data.');
    					}
    				});
    			});

    			// 모달 창에 지역 데이터 표시하는 함수
    			function populateAreaCateModal(data) {
    				var modalBody = $('#areaListBody');
    				modalBody.empty(); // 기존 내용 삭제

    				// 데이터를 순회하며 행 추가
    				data.forEach(function (item) {
    					var row = $('<tr>').appendTo(modalBody);
    					$('<td class="items">').text(item.areaCate).appendTo(row); // 지역명 추가

    					
    				});
    			}

    		});
    		
    		$(document).on('click', '.items', function (e) {
    			   			
    			let value = $(this).text();
    			$('#areaCate').val(value);
    			$('#areaCate').prop('readonly', true);
    			$('.close').click();
    			//$('#exampleModalCenter').modal('hide');
    			
    		});
    		
    		// 등록버튼 클릭시 이벤트 처리
    		$('#announcementInsertBtn').click(function(){
    			const validateEle = $('#announcementInsertForm input');
    			let isSubmit= false;
    			
    			validateEle.each((idx, item) => {    				
        			isSubmit = validCheck(item);
        			return isSubmit;
       			})
    			if(isSubmit)$('#announcementInsertForm').submit();
    			
    		})
    		
    		// 입력 취소 버튼 클릭시 이벤트 처리
    		$('#resetBtn').click(function(e){
    			// 태그가 가지고 있는 기본 이벤트 동작 방지
    			e.preventDefault();
    			$('#announcementInsertForm input').val('');
    		});
    		
	</script>
</th:block>

<th:block layout:fragment="customContents">

	<section class="contact-form section-padding">
		<div class="container col-lg-10">
			<div class="row">
				<div class="col-lg-3">
					<div class="sidebar">
						<div class="single-item mb-3">
							<h4 class="mb-3">구인구직</h4>
							<a th:href="@{/announcement/announcementList}"
								class="sidebar-btn d-flex justify-content-between mb-3"> <span>구인구직 검색</span></a> 
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="card single-job">
							<form id="announcementInsertForm"
								  th:action="@{/announcement/announcementInsert}" method="post"
							   	  class="d-md-flex justify-content-center">

								<div class="left">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">기업아이디</p>
									<input type="text" placeholder="기업아이디" id="cpId"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '기업아이디'" name="cpId">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">회사명</p>
									<input type="text" placeholder="회사명" id="cpName"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '회사명'" name="cpName">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">기업분류코드</p>
									<input type="text" placeholder="기업분류코드" id="cpCateCode"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '기업분류코드'" name="cpCateCode">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">참여분야코드</p>
									<input type="text" placeholder="참여분야코드" id="joinCateCode"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '참여분야코드'" name="joinCateCode">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">참여분야</p>
									<input type="text" placeholder="참여분야" id="joinCateName"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '참여분야'" name="joinCateName">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">지역분류코드</p>
									<input type="text" placeholder="지역분류코드" id="areaCode"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '지역분류코드'" name="areaCode">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">지역분류
									<button id="searchBtn" type="button" class="genric-btn primary-border radius" data-toggle="modal"
										 data-target="#exampleModalCenter">조회</button></p>
									<input type="text" placeholder="지역분류" id="areaCate"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '지역분류'" name="areaCate">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">채용직</p>
									<input type="text" placeholder="채용직" id="jobOpening"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '채용직'" name="jobOpening">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">요구기술</p>
									<input type="text" placeholder="요구기술" id="requiredSkills"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '요구기술'" name="requiredSkills">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">관련업무경력</p>
									<input type="text" placeholder="관련업무경력" id="career"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '관련업무경력'" name="career">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">채용인원</p>
									<input type="text" placeholder="채용인원" id="recruitment"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '채용인원'" name="recruitment">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">급여</p>
									<input type="text" placeholder="급여" id="wage"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '급여'" name="wage">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">마감시간</p>
									<input type="date" placeholder="마감시간" id="dueDate"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '마감시간'" name="dueDate">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">구인진행상황분류코드</p>
									<input type="text" placeholder="구인진행상황분류코드" id="hiringStatusCode"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '구인진행상황분류코드'" name="hiringStatusCode">
									<p class="text-left"
										style="font-size: large; font-weight: 900;">진행상태분류</p>
									<input type="text" placeholder="진행상태분류" id="hiringStatus"
										onfocus="this.placeholder = ''"
										onblur="this.placeholder = '진행상태분류'" name="hiringStatus">
								</div>
							</form>
							<div class="card-tools">
								<div class="d-md-flex justify-content-center">
									<button th:href="@{/announcement/announcementList}" id="announcementInsertBtn"
										class="genric-btn info-border circle"> <i class="fas">등록
											완료</i>
									</button> <button th:href="@{#}"
										id="resetBtn" class="genric-btn danger-border circle">
										<i class="fas">취소</i>
									</button>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">지역분류</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead class="thead-light">
						<tr>
							<th>지역</th>
						</tr>
						</thead>
						<tbody id="areaListBody">
						<!-- 이 부분은 JavaScript로 동적으로 채워질 것입니다. -->
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					<button id="selectBtn" type="button" class="btn btn-primary">선택</button>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>