<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">

<head>
	<link rel="stylesheet" th:href="@{/admin/plugins/jsgrid/jsgrid.min.css}">
	<link rel="stylesheet" th:href="@{/admin/plugins/jsgrid/jsgrid-theme.min.css}">
</head>

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/admin/plugins/jsgrid/demos/db.js}"></script>
	<script th:src="@{/admin/plugins/jsgrid/jsgrid.min.js}"></script>
	<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
	<script>

	</script>
</th:block>

<th:block layout:fragment="customContents">
	<div class="content-wrapper" style="min-height: 912px;">

		<!-- 콘텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">보유기술 관리</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- 메인 콘텐츠 -->
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">보유기술 등록 회원 목록</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div id="jsGrid1" class="jsgrid" style="position: relative; height: 100%; width: 100%;">
						<div class="jsgrid-grid-header jsgrid-header-scrollbar">
							<table class="jsgrid-table">
								<tr class="jsgrid-header-row">
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 80px;">회원아이디</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 60px;">기술명</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 60px;">숙련도</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 60px;">경험</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 60px;">정보 등록 일시</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 60px;">공개여부</th>
									<th class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 70px;">입사지원 시 공개여부</th>
								</tr>
							</table>
						</div>
						<div class="jsgrid-grid-body" style="height: 816.8px;">
							<table class="jsgrid-table">
								<tbody>
									<tr th:unless="${#lists.isEmpty(profileSkillList)}"
										th:each="l : ${profileSkillList}">
										<!-- <td th:text="${l.userIntroCode}"></td> -->
										<td th:text="${l.userId}"></td>
										<td th:text="${l.userSkill}"></td>
										<td th:text="${l.userSkillRank}"></td>
										<td th:text="${l.userExperience}"></td>
										<td th:text="${l.userRegDate}"></td>
										<td th:text="${l.profileHidden}"></td>
										<td th:text="${l.profileApplicationHidden}"></td>
								</tbody>
							</table>
						</div>
						<div class="jsgrid-pager-container">
							<div class="jsgrid-pager">
								페이지: <span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">처음</a></span>
								<span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">이전</a></span> <span
									class="jsgrid-pager-page"><a href="javascript:void(0);">1</a></span><span
									class="jsgrid-pager-page"><a href="javascript:void(0);">2</a></span><span
									class="jsgrid-pager-page"><a href="javascript:void(0);">3</a></span><span
									class="jsgrid-pager-page jsgrid-pager-current-page">4</span><span
									class="jsgrid-pager-page"><a href="javascript:void(0);">5</a></span>
								<span class="jsgrid-pager-nav-button"><a href="javascript:void(0);">다음</a></span> <span
									class="jsgrid-pager-nav-button"><a href="javascript:void(0);">마지막</a></span>
								&nbsp;&nbsp; 4 of 5
							</div>
						</div>
						<div class="jsgrid-load-shader"
							style="display: none; position: absolute; inset: 0px; z-index: 1000;"></div>
						<div class="jsgrid-load-panel"
							style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">잠시만 기다려주세요...
						</div>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
		</section>
	</div>
</th:block>

</html>