<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
	
<head>
	<link rel="stylesheet" th:href="@{/admin/plugins/jsgrid/jsgrid.min.css}">
	<link rel="stylesheet" th:href="@{/admin/plugins/jsgrid/jsgrid-theme.min.css}">
</head>

<th:block layout:fragment="customJs">
	<!-- 자바스크립트 작성 공간 -->
	<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
	<script th:src="@{/admin/plugins/jsgrid/demos/db.js}"></script>
	<script th:src="@{/admin/plugins/jsgrid/jsgrid.min.js}"></script>
	<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
	<script>
	  
	</script>
</th:block>

<th:block layout:fragment="customContents">
	<div class="content-wrapper" style="min-height: 912px;">
	
		<!-- 콘텐츠 헤더 -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">프로필 관리</h1>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 메인 콘텐츠 -->
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">프로필 목록</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div id="jsGrid1" class="jsgrid"
						style="position: relative; height: 100%; width: 100%;">
						<div class="jsgrid-grid-header jsgrid-header-scrollbar">
							<table class="jsgrid-table">
								<tr class="jsgrid-header-row">
									<th class="jsgrid-header-cell jsgrid-header-sortable"
										style="width: 150px;">Name</th>
									<th
										class="jsgrid-header-cell jsgrid-align-right jsgrid-header-sortable"
										style="width: 50px;">Age</th>
									<th class="jsgrid-header-cell jsgrid-header-sortable"
										style="width: 200px;">Address</th>
									<th
										class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 100px;">Country</th>
									<th
										class="jsgrid-header-cell jsgrid-align-center jsgrid-header-sortable"
										style="width: 100px;">Is Married</th>
								</tr>
								<tr class="jsgrid-filter-row" style="display: none;">
									<td class="jsgrid-cell" style="width: 150px;"><input
										type="text"></td>
									<td class="jsgrid-cell jsgrid-align-right" style="width: 50px;"><input
										type="number"></td>
									<td class="jsgrid-cell" style="width: 200px;"><input
										type="text"></td>
									<td class="jsgrid-cell jsgrid-align-center"
										style="width: 100px;"><select><option value="0"></option>
											<option value="1">United States</option>
											<option value="2">Canada</option>
											<option value="3">United Kingdom</option>
											<option value="4">France</option>
											<option value="5">Brazil</option>
											<option value="6">China</option>
											<option value="7">Russia</option></select></td>
									<td class="jsgrid-cell jsgrid-align-center"
										style="width: 100px;"><input type="checkbox" readonly=""></td>
								</tr>
								<tr class="jsgrid-insert-row" style="display: none;">
									<td class="jsgrid-cell" style="width: 150px;"><input
										type="text"></td>
									<td class="jsgrid-cell jsgrid-align-right" style="width: 50px;"><input
										type="number"></td>
									<td class="jsgrid-cell" style="width: 200px;"><input
										type="text"></td>
									<td class="jsgrid-cell jsgrid-align-center"
										style="width: 100px;"><select><option value="0"></option>
											<option value="1">United States</option>
											<option value="2">Canada</option>
											<option value="3">United Kingdom</option>
											<option value="4">France</option>
											<option value="5">Brazil</option>
											<option value="6">China</option>
											<option value="7">Russia</option></select></td>
									<td class="jsgrid-cell jsgrid-align-center"
										style="width: 100px;"><input type="checkbox"></td>
								</tr>
							</table>
						</div>
						<div class="jsgrid-grid-body" style="height: 816.8px;">
							<table class="jsgrid-table">
								<tbody>
									<tr class="jsgrid-row">
										<td class="jsgrid-cell" style="width: 150px;">Arthur
											Olsen</td>
										<td class="jsgrid-cell jsgrid-align-right"
											style="width: 50px;">74</td>
										<td class="jsgrid-cell" style="width: 200px;">887-5080
											Eget St.</td>
										<td class="jsgrid-cell jsgrid-align-center"
											style="width: 100px;">Brazil</td>
										<td class="jsgrid-cell jsgrid-align-center"
											style="width: 100px;"><input type="checkbox" disabled=""></td>
									</tr>
									<tr class="jsgrid-alt-row">
										<td class="jsgrid-cell" style="width: 150px;">Brody Potts</td>
										<td class="jsgrid-cell jsgrid-align-right"
											style="width: 50px;">59</td>
										<td class="jsgrid-cell" style="width: 200px;">Ap
											#577-7690 Sem Road</td>
										<td class="jsgrid-cell jsgrid-align-center"
											style="width: 100px;">Canada</td>
										<td class="jsgrid-cell jsgrid-align-center"
											style="width: 100px;"><input type="checkbox" disabled=""></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="jsgrid-pager-container">
							<div class="jsgrid-pager">
								Pages: <span class="jsgrid-pager-nav-button"><a
									href="javascript:void(0);">First</a></span> <span
									class="jsgrid-pager-nav-button"><a
									href="javascript:void(0);">Prev</a></span> <span
									class="jsgrid-pager-page"><a href="javascript:void(0);">1</a></span><span
									class="jsgrid-pager-page"><a href="javascript:void(0);">2</a></span><span
									class="jsgrid-pager-page"><a href="javascript:void(0);">3</a></span><span
									class="jsgrid-pager-page jsgrid-pager-current-page">4</span><span
									class="jsgrid-pager-page"><a href="javascript:void(0);">5</a></span>
								<span class="jsgrid-pager-nav-button"><a
									href="javascript:void(0);">Next</a></span> <span
									class="jsgrid-pager-nav-button"><a
									href="javascript:void(0);">Last</a></span> &nbsp;&nbsp; 4 of 5
							</div>
						</div>
						<div class="jsgrid-load-shader"
							style="display: none; position: absolute; inset: 0px; z-index: 1000;"></div>
						<div class="jsgrid-load-panel"
							style="display: none; position: absolute; top: 50%; left: 50%; z-index: 1000;">Please,
							wait...</div>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
		</section>
	</div>
</th:block>

</html>
